<% if @flag %>
    <h3><b>New Employee Information</b></h3>
<% else %>
    <h3><b>On proces of joining</b></h3>
<% end %>
<br>
<%= form_for @pre_registration do |f| %>
        <div class = 'row' >
    
            <div class = 'col-md-6' >
                <%= f.label :name do %>
                    <%= 'Employee Name' %>
                    <span class = 'required-asterisk' >*</span>
                <% end %>    
                <p>
                    <%= f.text_field :name, class: 'form-control', required: 'true', maxlength: '128', readonly: @flag ? true : false %>
                </p>
            </div>
            
            <div class = 'col-md-6' >
                <%= f.label :joiningDate do %>
                    <%= 'Joining Date' %>
                    <span class = 'required-asterisk' >*</span>
                <% end %> 
                <p>
                    <%= f.text_field :joiningDate, class: 'form-control timesheet-date-picker_new_join', required: 'true', value: @pre_registration.joiningDate, onkeydown: 'return false' %>
                </p>
            </div>

            <div class = 'col-md-6' >
                <%= f.label :designation do %>
                    <%= 'Designation' %>
                    <span class = 'required-asterisk' >*</span>
                <% end %>
                <p>
                    <%= f.text_field :designation, class: 'form-control', required: 'true', maxlength: '128' %>
                </p>
            </div>

            <div class = 'col-md-6' >
                <%= f.label :user_id do %>
                    <%= 'Name of TTF' %>
                    <span class = 'required-asterisk' >*</span>
                <% end %>
                <p>
                    <%= f.select :user_id, options_for_select(@ttf_list.collect { | ttf_list | [ttf_list.name,  ttf_list.id] }, selected: @pre_registration.user_id), {}, required: 'true', autofocus: 'true', class: 'form-control', id:'select-other-projects' %>
                </p>
            </div>
                    
            <div class = 'col-md-6' >
                <%= f.label :emailGroup do %>
                    <%= 'Suggested Email Group' %>
                    <span class = 'required-asterisk' >*</span>
                <% end %>
                <p>
                    <%= f.text_field :emailGroup, class: 'form-control', required: 'true', maxlength: '128', readonly: @flag ? true : false %>
                </p>
            </div>

            <div class = 'col-md-6' >
                <%= f.label :contactNumber do %>
                    <%= 'Contact Number' %>
                    <span class = 'required-asterisk' >*</span> 
                <% end %>
                <p>
                    <%= f.text_field :contactNumber, class: 'form-control', required: 'true', maxlength: '128', readonly: @flag ? true : false %>
                </p>
            </div>

            <div class = 'col-md-6' >
                <%= f.label :personalEmail do %>
                    <%= 'Personal Email' %>
                    <span class = 'required-asterisk' >*</span>
                <% end %>
                <p>
                    <%= f.text_field :personalEmail, class: 'form-control', required: 'true', maxlength: '128', readonly: @flag ? true : false %>
                </p>
            </div>

            <div class = 'col-md-6' >
                <%= f.label :holiday_scheme_id do %>
                    <%= 'Holiday Scheme' %>
                    <span class = 'required-asterisk' >*</span>
                <% end %>
                <p>
                    <%= f.select :holiday_scheme_id, options_for_select(@holiday_scheme.collect { | holiday | [holiday.name,  holiday.id] }, selected: @pre_registration.holiday_scheme_id), {}, required: 'true', autofocus: 'true', class: 'form-control', id:'select-other-projects' %>
                </p>
            </div>

            <div class = 'col-md-6' >
                <%= f.label :weekend_id do %>
                    <%= 'Weekend Scheme' %>
                    <span class = 'required-asterisk' >*</span>
                <% end %>
                <p>
                    <%= f.select :weekend_id, options_for_select(@weekend_scheme.collect { | weekend | [weekend.name,  weekend.id] }, selected: @pre_registration.weekend_id), {}, required: 'true', autofocus: 'true', class: 'form-control', id:'select-other-projects' %>
                </p>
            </div>
        </div>

        <div class = 'row' >

            <div class = 'col-md-6' >
                <%= f.label :NdaSigned do %>
                    <%= 'NDA Signed' %>
                    <span class = 'required-asterisk' >*</span>
                    <%= f.check_box :NdaSigned, checked: @pre_registration.NdaSigned, required: true %>
                    <% if !@pre_registration.ndaDoc.present? %>    
                        <%= f.file_field :ndaDoc, onchange: 'validateFiles(this);', data: { max_file_size: 50.megabytes }  %>
                    <% end %>
                <% end %>
            </div>

            <div class = 'col-md-6' >
                <%= f.label :workstationReady do %>
                    <%= 'Workstation prepared for new employee? ' %>
                    <span class = 'required-asterisk' >*</span>
                    <%= f.check_box :workstationReady, checked: @pre_registration.workstationReady, required: true %>
                <% end %>
            </div>

            <div class = 'col-md-6' >
                <%= f.label :packReady do %>
                    <%= 'Greeting pack prepared for new employee?' %>
                    <span class = 'required-asterisk' >*</span>
                    <%= f.check_box :packReady, checked: @pre_registration.packReady, required: true %>
                <% end %>
            </div>

        </div>
    <br/>
    <hr>
    <%= hidden_field_tag 'selected', @is_for_admin  %>
    <br/>
    <div class = 'row' >
        <%if @is_for_admin == '23' %>
            <div class = 'col-md-6' >
                <%= f.label :companyEmail do %>
                    <%= 'Company Email' %>
                    <span class = 'required-asterisk' >*</span>
                    <%= f.text_field :companyEmail, class: 'form-control', maxlength: '128', required: true %>
                <% end %>
            </div>
            <div class = 'col-md-6' >
                <%= f.label :HR_email do %>
                    <%= 'Notify HR to follow the next step' %>
                    <span class = 'required-asterisk' >*</span>
                    <%= f.text_field :HR_email, class: 'form-control', maxlength: '128', required: true %>
                <% end %>
            </div>
        <% end %>    
    </div>
    <br/>
    <%= f.submit 'Submit', class: 'btn btn-success', confirm: 'Are you sure?' %>
<% end %>
