<%= stylesheet_link_tag 'pre_registrations', :media => 'all', 'data-turbolinks-track' => true %>
<h3><b>Employee Onboarding</b></h3><br/>
<table class='pre_reg_table' style = 'width:100%' >
    <tr>
        <th class = 'pre_reg_th left' >Name</th>
        <th class = 'pre_reg_th'>Email ID</th>
        <th class = 'pre_reg_th right' colspan = '2' >Contact Number</th>
    </tr>
    <% last_date = ''%>
    <% if @onboarding_employees.empty? %>
        <tr>
            <td colspan = '6' class = 'pre_reg_td both_side' style = "text-align:center;" >No Record</td>
        </tr>
    <% end %>
    <% @onboarding_employees.each do |employee| %>
        <tr>
            <td class = 'pre_reg_td left' ><%= employee.name %></td>
            <td class = 'pre_reg_td' ><%= employee.personalEmail %></td>
            <td class = 'pre_reg_td' ><%= employee.contactNumber %></td>
            <td class = 'pre_reg_td right' ><%= link_to 'Edit', pre_registration_path(employee) %></td>
        </tr>
    <% end %>
</table>
