<%= stylesheet_link_tag 'pre_registrations', :media => 'all', 'data-turbolinks-track' => true %>
<h3><b>Employee Onboarding</b></h3><br/>
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Email ID</th>
        <th>Contact Number </th>
        <th></th>
    </tr>
    <% last_date = ''%>
    <% if @onboarding_employees.empty? %>
        <tr>
            <td colspan="4" class = "text-center" >No Record</td>
        </tr>
    <% end %>
    <% @onboarding_employees.each do |employee| %>
        <tr>
            <td><%= employee.name %></td>
            <td><%= employee.personalEmail %></td>
            <td><%= employee.contactNumber %></td>
            <td> <%= link_to 'Edit', pre_registration_path(employee) %> </td>
        </tr>
    <% end %>
</table>
