<%= stylesheet_link_tag 'pre_registrations', :media => 'all', 'data-turbolinks-track' => true %>
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Email ID</th>
        <th>Contact Number </th>
        <th>Joining Date </th>
        <th>Action Edit </th>
    </tr>
    <% last_date = ''%>
    <% if @pre_registration_all.empty? %>
        <tr>
            <td colspan="5" class = "text-center" >No Record</td>
        </tr>
    <% end %>
    <% @pre_registration_all.each do |pre_registration_item| %>
        <tr>
            <td><%= pre_registration_item.name %></td>
            <td><%= pre_registration_item.personalEmail %></td>
            <td><%= pre_registration_item.contactNumber %></td>
            <td><%= pre_registration_item.joiningDate%></td>
            <td> <%= link_to 'Edit', pre_registration_path(pre_registration_item) %> </td>
        </tr>
    <% end %>

</table>
