<%= stylesheet_link_tag 'pre_registrations', :media => 'all', 'data-turbolinks-track' => true %>
<h3><b>On Process of Joining</b></h3><br/>
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Email ID</th>
        <th>Contact Number</th>
        <th>Joining Date</th>
        <th></th>
        <th></th>
    </tr>
    <% last_date = ''%>
    <% if @on_process_of_joining_employees.empty? %>
        <tr>
            <td colspan="6" class = "text-center" >No Record</td>
        </tr>
    <% end %>
    <% @on_process_of_joining_employees.each do |employee| %>
        <tr>
            <td><%= employee.name %></td>
            <td><%= employee.personalEmail %></td>
            <td><%= employee.contactNumber %></td>
            <td><%= employee.joiningDate%></td>
            <td> <%= link_to 'Edit', edit_pre_registration_path(employee,1) %> </td>
            <td> <%= link_to 'Delete', pre_registration_path(employee) , method: :delete%> </td>
        </tr>
    <% end %>

</table>
<br/>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#addEmployee" aria-expanded="false" aria-controls="collapseExample">
    Add New Employee
  </button>
</p>
<div class="collapse" id="addEmployee">
    <div class="card card-body">
        <h3><b>Employee information fill by HR </b></h3><br>
            <%= form_for @pre_registration do |f| %>
            <div class="row">
            <div class="col-md-6">
                <%= f.label :name, 'Employee Name' do %>
                    <%= 'Employee Name' %>
                    <span class='required-asterisk'>*</span>
                <% end %>
                <p>
                    <%= f.text_field :name, :class => 'form-control', required: 'true', :maxlength=>"128"%>
                </p>
            </div>
  
            <div class="col-md-6">
                <%= f.label :joiningDate, 'Joining Date' do %>
                    <%= 'Joining Date' %>
                    <span class='required-asterisk'>*</span>
                <% end %>
                <p>
                    <%= f.text_field :joiningDate, :class => 'form-control timesheet-date-picker_new_join', value: Time.now.strftime("%Y/%m/%d"), :onkeydown=>"return false" %>
                </p>
            </div>
  
            <div class="col-md-6">
                <%= f.label :designation, 'Designation' do %>
                    <%= 'Designation' %>
                    <span class='required-asterisk'>*</span>
                <% end %>
                <p>
                    <%= f.text_field :designation, :class => 'form-control', required: 'true', :maxlength=>"128"%>
                </p>
            </div>
  
            <div class="col-md-6">
                <%= f.label :user_id, 'Name of TTF/Mentor' do %>
                    <%= 'Name of TTF/Mentor' %>
                    <span class='required-asterisk'>*</span>
                <% end %>
                <p>
                    <%= f.select :user_id, options_for_select( @ttf_list.collect { | ttf_list | [ttf_list.name,  ttf_list.id] }), {}, {required: 'true', autofocus: 'true', class: 'form-control', id:'select-other-projects'} %>
                </p>
            </div>
  
            <div class="col-md-6">
                <%= f.label :emailGroup, 'Suggested Email Group' do %>
                    <%= 'Suggested Email Group' %>
                <% end %>
                <p>
                    <%= f.text_field :emailGroup ,:class => 'form-control', required: 'true',:maxlength=>"128"%>
                </p>
            </div>
  
            <div class="col-md-6">
                <%= f.label :contactNumber, 'Contact Number' do %>
                    <%= 'Contact Number' %>
                    <span class='required-asterisk'>*</span>
                <% end %>
                <p>
                    <%= f.text_field :contactNumber ,:class => 'form-control', required: 'true',:maxlength=>"128"%>
                </p>
            </div>
  
            <div class="col-md-6">
                <%= f.label :personalEmail, 'Personal Email' do %>
                    <%= 'Personal Email' %>
                    <span class='required-asterisk'>*</span>
                <% end %>
                <p>
                    <%= f.text_field :personalEmail ,:class => 'form-control', required: 'true',:maxlength=>"128"%>
                </p>
            </div>
  
            <div class="col-md-6">
                <%= f.label :holiday_scheme_id, 'Holiday Scheme' do %>
                    <%= 'Holiday Scheme' %>
                    <span class='required-asterisk'>*</span>
                <% end %>
                <p>
                    <%= f.select :holiday_scheme_id, options_for_select(@holiday_scheme.collect { | holiday | [holiday.name,  holiday.id] }), {}, {required: 'true', autofocus: 'true', class: 'form-control', id:'select-other-projects'}%>
                </p>
            </div>
  
            <div class="col-md-6">
                <%= f.label :weekend_id, 'WeekEnd Scheme' do %>
                    <%= 'WeekEnd Scheme' %>
                    <span class='required-asterisk'>*</span>
                <% end %>
                <p>
                    <%= f.select :weekend_id, options_for_select(@weekend_scheme.collect { | weekend | [weekend.name,  weekend.id] }), {}, {required: 'true', autofocus: 'true', class: 'form-control', id:'select-other-projects'}%>
                </p>
            </div>

        </div>
  
        <div class="row">
        
            <div class="col-md-6">
                <%= f.label :NdaSigned, 'NDA Signed' do %>
                    <%= 'NDA Signed' %>
                    <span class='required-asterisk'>*</span>
                    <%= f.check_box :NdaSigned, :checked => false, :required => true %>
                    <%= f.file_field :ndaDoc%>
                <% end %>
            </div>
            
            <div class="col-md-6">
                <%= f.label :workstationReady, 'Workstation prepared for new employee?' do %>
                    <%= 'Workstation prepared for new employee? ' %>
                    <span class='required-asterisk'>*</span>
                    <%= f.check_box :workstationReady, :checked => false, :required => true %>
                <% end %>
            </div>
    
            <div class="col-md-6">
                <%= f.label :packReady, 'Greeting pack prepared for new employee?' do %>
                    <%= 'Greeting pack prepared for new employee?' %>
                    <span class='required-asterisk'>*</span>
                    <%= f.check_box :packReady, :checked => false, :required => true %>
                <% end %>
            </div>
        
        </div>
        <br/>  
        <%= f.submit 'Submit', class: 'btn btn-success' %>
        <% end %>
  </div>
</div>    
