<h3>On Process of Joining</h3><br>

<%= form_for @pre_registration do |f| %>

    <div class="row">
        <div class="col-md-12">
            <%= f.label :salary_account_details_sent, 'Salary account details sent to CEO?' do %>
                <%= 'Salary account details sent to CEO?' %>
                <span class='required-asterisk'>*</span>
                <%= f.check_box :salary_account_details_sent, :checked => false, :required => true %>
            <% end %>
        </div>

        <div class="col-md-12">
            <%= f.label :employee_contract_sign, 'Employee contract signed?' do %>
                <%= 'Employee contract signed?' %>
                <span class='required-asterisk'>*</span>
                <%= f.check_box :employee_contract_sign, :checked => false, :required => true %>
            <% end %>
        </div>
        
        <div class="col-md-12">
            <%= f.label :id_card_given, 'Id card given?' do %>
                <%= 'Id card given?' %>
                <span class='required-asterisk'>*</span>
                <%= f.check_box :id_card_given, :checked => false, :required => true %>
            <% end %>
        </div>

        <div class="col-md-12">
            <%= f.label :pic_and_other_relevant_info, 'Picture and other relevant information about new employee updated on website?' do %>
                <%= 'Picture and other relevant information about new employee updated on website?' %>
                <span class='required-asterisk'>*</span>
                <%= f.check_box :pic_and_other_relevant_info, :checked => false, :required => true %>
            <% end %>
        </div>

        <div class="col-md-12">
            <%= f.label :has_sent_invitation_to_visit_internal_website, 'Has sent an invitation to visit the internal website?' do %>
                <%= 'Has sent an invitation to visit the internal website?' %>
                <span class='required-asterisk'>*</span>
                <%= f.check_box :has_sent_invitation_to_visit_internal_website, :checked => false, :required => true %>
            <% end %>
        </div>
        
    </div>
    <br/>
    <%= f.submit "Submit", class: "btn btn-success" %>
<% end %>

