<h3><b><%= @pre_registration.name %>'s Information</b></h3><br>

<%= form_for @pre_registration do |f| %>
    
    <%= hidden_field_tag 'hidden_flag' %>

    <div class = 'row' >
        <div class = 'col-md-12' >
            <%= f.label :salary_account_details_sent do %>
                <%= 'Salary account details sent to CEO?' %>
                <%= f.check_box :salary_account_details_sent, checked: @pre_registration.salary_account_details_sent %>
            <% end %>
        </div>

        <div class = 'col-md-12' >
            <%= f.label :employee_contract_sign do %>
                <%= 'Employee contract signed?' %>
                <%= f.check_box :employee_contract_sign, checked: @pre_registration.employee_contract_sign %>
            <% end %>
        </div>
        
        <div class = 'col-md-12' >
            <%= f.label :id_card_given do %>
                <%= 'ID card given?' %>
                <%= f.check_box :id_card_given, checked: @pre_registration.id_card_given %>
            <% end %>
        </div>

        <div class = 'col-md-12' >
            <%= f.label :pic_and_other_relevant_info do %>
                <%= 'Picture and other relevant information about new employee updated on website?' %>
                <%= f.check_box :pic_and_other_relevant_info, checked: @pre_registration.pic_and_other_relevant_info %>
            <% end %>
        </div>

        <div class = 'col-md-12' >
            <%= f.label :has_sent_invitation_to_visit_internal_website do %>
                <%= 'Has sent an invitation to visit the internal website?' %>
                <%= f.check_box :has_sent_invitation_to_visit_internal_website, checked: @pre_registration.has_sent_invitation_to_visit_internal_website %>
            <% end %>
        </div>
        
    </div>

    <br/>
    <%= f.submit 'Submit', class: 'btn btn-success' %>
<% end %>
