.panel.panel-default
  .panel-heading
    %span
      %b= get_humanize_date(Date.today)
    %span.pull-right
      %b= "Total present in office today: #{@attendances.size}"

  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th #
        %th Name
        %th Email
        %th Check in time
        %th Check out time
        %th Status
        %th &nbsp;
    %tbody
      - @attendances.each do |attendance|
        %tr
          %td= attendance.user.id
          %td= attendance.user.name
          %td= attendance.user.email
          %td= get_formatted_time(attendance.in_time)
          %td= get_formatted_time(attendance.out_time)
          %td
            - unless is_late_attendance? attendance.in_time
              %span.label.label-success On time
            - else
              %span.label.label-danger Late
          %td= link_to 'view', attendance_path(attendance)