.log-status
  - unless @attendance.present?
    .alert.alert-warning{:role => 'alert'}
      Please check in!
  - else
    .alert.alert-info{:role => 'alert'}
      Today's in time
      %b= "#{@attendance.in_time.strftime('%I:%M %p')} "
      - unless is_late_attendance? @attendance.in_time
        %span.label.label-success On time
      - else
        %span.label.label-danger Late

  .row
    .col-sm-3
      = link_to  'Check In', attendances_path, :method => :post, :class => "btn btn-block btn-bottom-margin #{is_checked_in? @attendance}"

    - unless @attendance.nil?
      .col-sm-3
        = link_to  'Check Out', attendance_path(@attendance), :method => :put, :class => "btn btn-block #{is_checked_out? @attendance}"

.row
  .col-md-8
    = render 'todays_attendance'

  .col-md-4
    = render 'attendance_summary'
    = render 'on_leave_users'
    = render 'internal_services'
    = render 'rules_instructions'
    - if current_user.present? && current_user.is_admin?
      = render 'attendance_reports'

.row
  #salaat-summary &nbsp;

:javascript
  $(document).on('click', '.monthly-summary', function() {
    var user = {
      id: $(this).data().userId,
      month: $(this).data().userMonth,
      year: $(this).data().userYear
    };

    $.ajax({
      url: "/attendances/monthly_summary",
      type: "GET",
      data:  { user: user },
      beforeSend: function() {
        $("#modal-loading-image").show();
      },
      success: function(msg) {
        $("#modal-loading-image").hide();
      }
    });
  });

  $(document).on('click', '#salaat', function() {
    $.ajax({
      url: "/salaats",
      type: "GET",
      data:  {},
      beforeSend: function() {
        $("#modal-loading-image").show();
      },
      success: function(msg) {
        $("#modal-loading-image").hide();
      }
    });
  });

  $(document).on('click', '#rules', function() {
    $("#rulesModal").modal('show');
  });