.card
  .card-header
    %h2.fs-5 Create new Holiday
  .card-body  
    = form_for @holiday, html: {'data-controller' => 'leave'} do |f|
      = f.hidden_field :holiday_scheme_id, value: @holiday_scheme.id
      .row.mb-3
        %label.col-sm-2.col-form-label 
          %span Name
        .col-sm-10  
          = f.text_field :name, class: 'form-control', required: true
      .row.mb-3
        %label.col-sm-2.col-form-label 
          %span Date
        .col-sm-10
          = f.text_field :date, :class => 'form-control date-picker', :placeholder => 'Enter date (ex: yyyy/mm/dd)', required: true
      .row.mb-3
        %label.col-sm-2.col-form-label 
        .col-sm-10
          = f.submit 'Create', class: 'btn btn-primary'