.row 
  .col-sm-8
    .card
      .card-header
        %h2.fs-5 Basic information
      
      %table.table.table-bordered
        %tr
          %th{width: '40%'} Designation
          %td
            = @user.promotions.last.nil? ? 'Not assigned yet!' : @user.promotions.last.designation
            - if current_user.has_admin_privilege?
              .col-md-4
                %h5= link_to 'New Promotion', new_employee_promotion_path(@user)
        %tr
          %th Supervisor/TTF
          %td
            = @user.ttf.name
            - if current_user.id.eql?(@user.id)
              = link_to 'Change supervisor/ttf', edit_user_registration_path(change_ttf: true)
        %tr
          %th Leave Approval Path
          %td 
            - unless @user.approval_path.nil? || @user.approval_path.path_chains.empty?
              - count = @user.approval_path.path_chains.count
              - @user.approval_path.path_chains.order(priority: :desc).each do |chain|
                = chain.user.name
                - if count > 1
                  %span.fa.fa-chevron-circle-right
                - count = count - 1
        %tr
          %th Email
          %td= @user.email
        %tr 
          %th Mobile
          %td
            %a{:href =>"Tel:#{@user.mobile_number}"}= @user.mobile_number
        %tr 
          %th University
          %td= @user.last_university
        
        %tr
          %th Last Degree
          %td= @user.last_degree
        
        %tr
          %th Passing Year
          %td= @user.passing_year
        %tr 
          %th Blood Group
          %td= @user.blood_group
        %tr 
          %th Joining Date
          %td= @user.joining_date
        %tr 
          %th Employee ID
          %td= @user.employee_id.nil? ? 'N/A' : @user.employee_id
      
    - if current_user.has_admin_privilege?
      .card.mb-3
        .card-header
          %h2.fs-5 Detail Information
        
        %table.table.table-bordered  
          - if @user.alternate_contact.present?
            %tr
              %th{width: '40%'} Alternate Contact
              %td
                %a{:href =>"Tel:#{@user.alternate_contact}"}= @user.alternate_contact
          %tr
            %th Personal Mail
            %td= @user.personal_email
          %tr  
            %th Emergency Contact
            %td= @user.emergency_contact_person_name
          %tr
            %th Relation
            %td= @user.emergency_contact_person_relation
          %tr
            %th Mobile
            %td
              %a{:href =>"Tel:#{@user.emergency_contact_person_number}"}= @user.emergency_contact_person_number
          %tr
            %th Present Address
            %td= @user.present_address
          %tr
            %th Permanent Address
            %td= @user.permanent_address
          %tr
            %th Date of Birth
            %td= @user.date_of_birth
          %tr 
            %th Designation History
            %td
              - @user.promotions.each_with_index do |promotion, i|
                - designation_history = "#{promotion.designation} on #{promotion.start_date}"
                - if i.eql?(0)
                  - designation_history = "Joined As: #{promotion.designation} on #{promotion.start_date.split('T').first}"
                %p.designation-history= designation_history
        .card.mb-3
          .card-header 
            %h2.fs-5 Document
          
          %table.table.table-bordered
            %tr
              %th{width: '40%'} Bank Account No
              %td
                - if @user.bank_account_no.present?
                  = @user.bank_account_no
                - else
                  N/A
            %tr
              %th NDA
              %td 
                - if @nda_doc.present?
                  = link_to 'View', @nda_doc.url, {class: 'link', target: :_blank}
                - else
                  N/A
            %tr
              %th CV
              %td
                - if @user.resume.present?
                  = link_to 'View', @user.resume.url, {class: 'link', target: :_blank}
                - else
                  N/A
            %tr
              %th National ID/ Birth Certificate
              %td
                - if @user.national_id.present?
                  = link_to 'View', @user.national_id.url, {class: 'link', target: :_blank}
                - else
                  N/A
            %tr
              %th Passport
              %td
                - if @user.passport.present?
                  = link_to 'View', @user.passport.url, {class: 'link', target: :_blank}
                - else
                  N/A
  .col-md-4
    .img-responsive.profile_image
      = image_tag @user.avatar.url(:large)

- if @show_actions_to_admin
  .row
    = render partial: 'actions'
