- if current_user.is_admin?
  = render partial: 'admin_filter'
- else
  = render partial: 'employee_filter'
.panel.panel-default
  .panel-heading
    %b Employees
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th{:width => '25%'} Name
        %th{:width => '30%'} Email
        %th{:width => '15%'} Contact Number
        %th{:width => '5%'} Blood Group
        %th{:width => '10%'} Joining Date
        %th{:width => '15%'} TTF
    %tbody.word-break
      - @employees.each do |employee|
        %tr
          %td
            = link_to employee.name, employee_path(employee)
          %td= employee.email
          %td= employee.mobile_number.present? ? (employee.mobile_number) : 'N/A'
          %td= employee.blood_group
          %td= employee.joining_date
          -if employee.ttf_id?
            %td= User.find(employee.ttf_id).name
          -else
            %td= "N/A"
