-if flash[:warning].present?
  .alert.alert-success
    = flash[:warning]
%h1
  %b= @user.name

.row
  .col-md-8
    .content-show-item
      %h3
        %b Basic Information
        .content-info
          .row
            .item-email
              .col-md-4
                %h5
                  Email
              .col-md-8
                %h5
                  = @user.email
          .row
            .item-mobile
              .col-md-4
                %h5
                  Mobile
              .col-md-8
                %h5
                  %a{:href =>"Tel:#{@user.mobile_number}"}= @user.mobile_number
                  - if current_user.has_admin_privilege? && @show_actions_to_admin && @user.paper_trail.previous_version.mobile_number != @user.mobile_number && @user.paper_trail.previous_version.mobile_number.present?
                    .text-danger
                      = @user.paper_trail.previous_version.mobile_number
          .row
            .item-university
              .col-md-4
                %h5 University
              .col-md-8
                %h5
                  = @user.last_university
                  - if current_user.has_admin_privilege? && @show_actions_to_admin && @user.paper_trail.previous_version.last_university != @user.last_university && @user.paper_trail.previous_version.last_university.present?
                    .text-danger
                      = @user.paper_trail.previous_version.last_university
          .row
            .item-last_degree
              .col-md-4
                %h5
                  Last Degree
              .col-md-8
                %h5
                  = @user.last_degree
                  - if current_user.has_admin_privilege? && @show_actions_to_admin && @user.paper_trail.previous_version.last_degree != @user.last_degree && @user.paper_trail.previous_version.last_degree.present?
                    .text-danger
                      = @user.paper_trail.previous_version.last_degree
          .row
            .item-passing_year
              .col-md-4
                %h5
                  Passing Year
              .col-md-8
                %h5
                  = @user.passing_year
                  - if current_user.has_admin_privilege? && @show_actions_to_admin && @user.paper_trail.previous_version.passing_year != @user.passing_year && @user.paper_trail.previous_version.passing_year.present?
                    .text-danger
                      = @user.paper_trail.previous_version.passing_year
          .row
            .item-blood_group
              .col-md-4
                %h5
                  Blood Group
              .col-md-8
                %h5
                  = @user.blood_group
                  - if current_user.has_admin_privilege? && @show_actions_to_admin && @user.paper_trail.previous_version.blood_group != @user.blood_group && @user.paper_trail.previous_version.blood_group.present?
                    .text-danger
                      = @user.paper_trail.previous_version.blood_group

          .clearfix
      - if current_user.has_admin_privilege?
        %h3
          %b Detail Information
          .content-info
            - if @user.alternate_contact.present?
              .row
                .item-alternate_contact
                  .col-md-4
                    %h5
                      Alternate Contact
                  .col-md-8
                    %h5
                      %a{:href =>"Tel:#{@user.alternate_contact}"}= @user.alternate_contact
                      - if @show_actions_to_admin && @user.paper_trail.previous_version.alternate_contact != @user.alternate_contact && @user.paper_trail.previous_version.alternate_contact.present?
                        .text-danger
                          = @user.paper_trail.previous_version.alternate_contact
            .row
              .item-personal_email
                .col-md-4
                  %h5
                    Personal Mail
                .col-md-8
                  %h5
                    = @user.personal_email
                    - if @show_actions_to_admin && @user.paper_trail.previous_version.personal_email != @user.personal_email && @user.paper_trail.previous_version.personal_email.present?
                      .text-danger
                        = @user.paper_trail.previous_version.personal_email

            .row
              .item-emergency_contact_person_name
                .col-md-4
                  %h5
                    Emergency Contact
                .col-md-8
                  %h5
                    = @user.emergency_contact_person_name
                    - if @show_actions_to_admin && @user.paper_trail.previous_version.emergency_contact_person_name != @user.emergency_contact_person_name && @user.paper_trail.previous_version.emergency_contact_person_name.present?
                      .text-danger
                        = @user.paper_trail.previous_version.emergency_contact_person_name
            .row
              .item-emergency_contact_person_relation
                .col-md-4
                  %h5
                    Relation
                .col-md-8
                  %h5
                    = @user.emergency_contact_person_relation
                    - if @show_actions_to_admin && @user.paper_trail.previous_version.emergency_contact_person_relation != @user.emergency_contact_person_relation && @user.paper_trail.previous_version.emergency_contact_person_relation.present?
                      .text-danger
                        = @user.paper_trail.previous_version.emergency_contact_person_relation
            .row
              .item-emergency_contact_person_number
                .col-md-4
                  %h5
                    Mobile
                .col-md-8
                  %h5
                    %a{:href =>"Tel:#{@user.emergency_contact_person_number}"}= @user.emergency_contact_person_number
                    - if @show_actions_to_admin && @user.paper_trail.previous_version.emergency_contact_person_number != @user.emergency_contact_person_number && @user.paper_trail.previous_version.emergency_contact_person_number.present?
                      .text-danger
                        = @user.paper_trail.previous_version.emergency_contact_person_number
            .row
              .item-present_address
                .col-md-4
                  %h5 Present Address
                .col-md-8
                  %h5
                    = @user.present_address
                    - if @show_actions_to_admin && @user.paper_trail.previous_version.present_address != @user.present_address && @user.paper_trail.previous_version.present_address.present?
                      .text-danger
                        = @user.paper_trail.previous_version.present_address
            .row
              .item-permanent_address
                .col-md-4
                  %h5
                    Permanent Address
                .col-md-8
                  %h5
                    = @user.permanent_address
                    - if @show_actions_to_admin && @user.paper_trail.previous_version.permanent_address != @user.permanent_address && @user.paper_trail.previous_version.permanent_address.present?
                      .text-danger
                        = @user.paper_trail.previous_version.permanent_address
            .row
              .item-date_of_birth
                .col-md-4
                  %h5 Date of Birth
                .col-md-8
                  %h5
                    = @user.date_of_birth
                    - if @show_actions_to_admin && @user.paper_trail.previous_version.date_of_birth != @user.date_of_birth && @user.paper_trail.previous_version.date_of_birth.present?
                      .text-danger
                        = @user.paper_trail.previous_version.date_of_birth

            .row
              .item-passing_year
                .col-md-4
                  %h5
                    Joining Date
                .col-md-8
                  %h5
                    = @user.joining_date
                    - if @show_actions_to_admin && @user.paper_trail.previous_version.joining_date != @user.joining_date && @user.paper_trail.previous_version.joining_date.present?
                      .text-danger
                        = @user.paper_trail.previous_version.joining_date
          %h3
            %b Document
            .content-info
              .row
                .item-bank_account_no
                  .col-md-4
                    %h5
                      Bank Account No
                  .col-md-8
                    %h5
                      - if @user.bank_account_no.present?
                        = @user.bank_account_no
                      - else
                        N/A
                      - if @show_actions_to_admin && @user.paper_trail.previous_version.bank_account_no != @user.bank_account_no && @user.paper_trail.previous_version.bank_account_no.present?
                        .text-danger
                          = @user.paper_trail.previous_version.bank_account_no
              .row
                .item-ndaDoc
                  .col-md-4
                    %h5
                      NDA
                  .col-md-8
                    %h5
                      - if @nda.present?
                        = link_to 'View', @nda.url, {class: 'link', target: :_blank}
                      - else
                        N/A
              .row
                .item-cv
                  .col-md-4
                    %h5
                      CV
                  .col-md-8
                    %h5
                      - if @user.resume.present?
                        = link_to 'View', @user.resume.url, {class: 'link', target: :_blank}
                      - else
                        N/A
                      - if @show_actions_to_admin && @user.paper_trail.previous_version.resume.url != @user.resume.url && @user.paper_trail.previous_version.resume.present?
                        = '['
                        = link_to 'Previous Version', @user.paper_trail.previous_version.resume.url, {class: 'link', target: :_blank}
                        = ']'
              .row
                .item-national_id
                  .col-md-4
                    %h5
                      National ID/ Birth Certificate
                  .col-md-8
                    %h5
                      - if @user.national_id.present?
                        = link_to 'View', @user.national_id.url, {class: 'link', target: :_blank}
                      - else
                        N/A
                      - if @show_actions_to_admin && @user.paper_trail.previous_version.national_id.url != @user.national_id.url && @user.paper_trail.previous_version.national_id.present?
                        = '['
                        = link_to 'Previous Version', @user.paper_trail.previous_version.national_id.url, {class: 'link', target: :_blank}
                        = ']'
              .row
                .item-passport
                  .col-md-4
                    %h5
                      Passport
                  .col-md-8
                    %h5
                      - if @user.passport.present?
                        = link_to 'View', @user.passport.url, {class: 'link', target: :_blank}
                      - else
                        N/A
                      - if @show_actions_to_admin && @user.paper_trail.previous_version.passport.url != @user.passport.url && @user.paper_trail.previous_version.passport.present?
                        = '['
                        = link_to 'Previous Version', @user.paper_trail.previous_version.passport.url, {class: 'link', target: :_blank}
                        = ']'
            .clearfix
  .col-md-4
    .img-responsive.profile_image
      = image_tag @user.avatar.url(:large)

- if @pre_registration.present? && current_user.has_admin_privilege?
  %p
    %button.btn.btn-primary{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#addEmployee", "data-toggle" => "collapse", :type => "button"}
      Update NDA
  #addEmployee.collapse
    = form_for @pre_registration, url: update_nda_employees_path, method: :post do |f|
      = hidden_field_tag 'id', @pre_registration.user_id
      %fieldset
        .col-sm-12
          = f.file_field :ndaDoc, onchange: 'validateFiles(this);', data: { max_file_size: 50.megabytes },  class: 'form-control', required: true
      %br
      .form-group
        = f.submit 'Submit', class: 'btn btn-success'

- if @show_actions_to_admin
  .container_accept_or_reject
    .row
      = render partial: 'actions'
