%ul.navbar-nav.me-auto.mb-2.mb-md-0
  %li.nav-item{class: (params[:controller].eql?('attendances') ? 'active' : '')}
    = link_to 'Monthly TT', attendances_path, class: 'nav-link'
  %li.nav-item{class: (params[:controller].eql?('users') || params[:controller].eql?('leaves') || params[:controller].eql?('leave_tracker')  || params[:controller].eql?('approval_chains')  || params[:controller].eql?('weekends')  || params[:controller].eql?('holiday_schemes')  || params[:controller].eql?('super_admin_leaves') ? 'active' : '')}
    = link_to 'My Leave', leave_tracker_path(current_user), class: 'nav-link'

  - if current_user.has_admin_privilege?
    %li.nav-item
      = link_to 'Admin', admin_dashboard_path, :target => '_blank', class: 'nav-link'
  
  %li.dropdown
    %a.dropdown-toggle#dropdownMenuButton1{"data-bs-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", :href => "#"}
      = 'Employee'
      - if current_user.has_admin_privilege?
        - if count_employee != 0
          %span.badge.bg-danger.rounded-circle= count_employee
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton1"}
      %li
        = link_to 'Employee Info', employees_path, class: 'dropdown-item'
      - if current_user.has_admin_privilege?
        %li
          = link_to new_pre_registration_path, class: 'dropdown-item' do
            Add new Employee
            - if add_employee != 0
              %span.badge.bg-danger.rounded-circle= add_employee
      - if current_user.has_admin_privilege?
        %li
          = link_to pre_registrations_path, class: 'dropdown-item' do
            Employee Onboarding
            - if employee_onboard != 0
              %span.badge.bg-danger.rounded-circle= employee_onboard
      %li= link_to 'Goals', goals_path, class: 'dropdown-item'
      - if [2, 3].include?(current_user.role)
        %li= link_to 'Goals Review', review_goals_path, class: 'dropdown-item'
      %li= link_to "KPI's", kpis_path, class: 'dropdown-item'
      %li= link_to "Submit my KPI", new_kpi_path, class: 'dropdown-item'
      - if [2, 3].include?(current_user.role)
        %li= link_to "Submit team KPI", review_kpis_path, class: 'dropdown-item'
  
  %li.dropdown
    %a.dropdown-toggle#dropdownMenuButton3{"data-bs-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", :href => "#"}
      = 'Work Log'
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton3"}
      %li= link_to 'New Time Entry', new_timesheet_path, class: 'dropdown-item'
      - if current_user.has_admin_privilege?
        %li= link_to 'Create Project', new_project_path, class: 'dropdown-item'
      %li= link_to 'Projects', dashboard_projects_path(project: {time_period: 7, start_date: 7.days.ago.strftime('%Y/%m/%d'), end_date: Time.now.strftime('%Y/%m/%d')}, commit: 'Search'), class: 'dropdown-item'
      %li= link_to 'Projects Summary', summary_projects_path(project: {time_period: 7, start_date: 7.days.ago.strftime('%Y/%m/%d'), end_date: Time.now.strftime('%Y/%m/%d')}, commit: 'Search'), class: 'dropdown-item'
      %li= link_to 'Individual Log', timesheets_path(time_period: 0, start_date: Time.now.strftime('%Y-%m-%d'), end_date: Time.now.strftime('%Y-%m-%d')), class: 'dropdown-item'
  
  %li{class: (params[:controller].eql?('users/registrations')? 'dropdown active' : 'dropdown')}
    %a.dropdown-toggle#dropdownMenuButton2{"data-bs-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false", :href => "#"}
      = current_user.name
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton2"}
      %li= link_to 'Profile', edit_user_registration_path, class: 'dropdown-item'
      %li= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item'