- comment_type = "approve" if @leave.is_accepted?
- comment_type = "reject" if @leave.is_rejected?

.card
  .card-header
    .fs-5= "Leave application #{comment_type} comment"
  .card-body 
    = form_for [@leave, @leave.comments.build] do |f|
      = f.text_area :body, maxlength: '300', class: 'form-control', rows: 7
      %p.help-block 300 characters remaining.
      = f.submit 'Submit', class: 'btn btn-primary'

