.panel.panel-default
  .panel-heading
    %h4.panel-title.clearfix
      Leave Balance
      - if current_user.is_admin?
        %span.pull-right
          %button.btn.btn-primary{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button", "data-turbolinks" => false} Award Leave
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Leave type
        %th Casual (hours)
        %th Medical (hours)
    %tbody
      %tr
        %th Yearly leave
        %td= LeaveTracker::YEARLY_CASUAL_LEAVE
        %td= LeaveTracker::YEARLY_MEDICAL_LEAVE
      %tr
        %th Accrued in this year
        %td= @user.leave_tracker.accrued_vacation_this_year
        %td= @user.leave_tracker.accrued_medical_this_year
      %tr
        %th Carried forwarded leave
        %td= @user.leave_tracker.carried_forward_vacation
        %td= @user.leave_tracker.carried_forward_medical
      %tr
        %th Accrued in total
        %td= @user.leave_tracker.accrued_vacation_total
        %td= @user.leave_tracker.accrued_medical_total
      %tr
        %th Awarded Leaves
        %td= @user.leave_tracker.awarded_leave
        %td= 'N/A'
      %tr
        %th Consumed leave
        %td= @user.leave_tracker.consumed_vacation
        %td= @user.leave_tracker.consumed_medical
      %tr
        %th Accrual balance
        %td= @user.leave_tracker.accrued_vacation_balance
        %td= @user.leave_tracker.accrued_medical_balance
      %tr
        %th Note
        %td{colspan: 2}= @user.leave_tracker.note

.panel.panel-default
  .panel-heading
    %h4.panel-title.clearfix
      Leave History
      %span.pull-right
        = form_tag leave_tracker_path(@user), method: :get, class: 'form-inline' do
          = select_tag :month, options_for_select([['January', 1], ['February', 2], ['March', 3], ['April', 4],
           ['May', 5], ['June', 6], ['July', 7], ['August', 8], ['September', 9], ['October', 10], ['November', 11],
           ['December', 12],], params[:month]), class: 'form-control', prompt: 'All months'
          = submit_tag 'Submit', class: 'btn btn-success'
  - if @leaves.present? && @leaves.count > 0
    %table.table.table-bordered
      %thead
        %tr
          %th{:width => '15%'} Start Date
          %th{:width => '15%'} End Date
          %th{:width => '10%'} Type
          %th{:width => '25%'} Description
          %th{:width => '10%'} Status
          %th{:width => '10%'} Hours
          %th{:width => '15%'} Action
      %tbody
        - @leaves.each do |leave|
          %tr
            %td= leave.start_date
            %td= leave.end_date.present? ? leave.end_date : 'N/A'
            %td= type_of(leave)
            %td= leave.reason
            %td= get_status(leave.status)
            %td= @month.present? ? leave.total_leave_hour_of(@month) : leave.total_leave_hour
            %td
              - unless unannounced?(leave)
                = link_to 'show', leave_path(leave)
              - unless leave.start_date < Time.now
                |
                = link_to 'Cancel', leave_path(leave), method: :delete, data: { confirm: 'Are you sure' }
  - else
    .alert.alert-info{:role => 'alert'}
      %strong Empty!
      No record found.
/ Modal
#myModal.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Award Leave
      .modal-body
        = form_for @leave_tracker,  method: 'PATCH', html: { class: 'form-horizontal' } do |f|
          .form-group
            = f.label :award_leave, {:class => 'col-sm-3 control-label'}
            .col-sm-9
              = f.text_field :award_leave, :class => 'form-control'
          .form-group
            = f.label :note, {:class => 'col-sm-3 control-label'}
            .col-sm-9
              = f.text_area :note, :class => 'form-control'
          .form-group
            .col-sm-offset-3.col-sm-10
              = f.submit '  Award', :class => 'btn btn-primary'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
