%h2
  Employee details
%br
= form_for(@user, url: review_registration_user_path(@user), html: { class: 'form-horizontal' ,method: :post} ) do |f|
  %fieldset
    %legend Basic
    .form-group
      = f.label :name, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :name, {:class => 'form-control' , :required => true}
    .form-group
      = f.label :date_of_birth, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        = f.text_field :date_of_birth, {:class => 'form-control date-picker' , :required => true}
    .form-group
      = f.label :blood_group, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        = f.select :blood_group, User::BLOOD_GROUPS, {}, {:class => 'form-control' , :required => true}
    .form-group
      = f.label :joining_date, {:class => 'col-sm-2 control-label' }
      .col-sm-10
        = f.text_field :joining_date, {:class => 'form-control date-picker' , :required => true}
  %br
  %fieldset
    %legend Contact Information
    .form-group
      = f.label :personal_email, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.email_field :personal_email, {:class => 'form-control' , :required => true}
    .form-group
      = f.label :present_address, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_area :present_address, {:class => 'form-control', :required => true}
    .form-group
      = f.label :mobile_number, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :mobile_number, {:class => 'form-control', :required => true}
    .form-group
      = f.label :alternate_contact, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :alternate_contact, {:class => 'form-control', :required => true}
    .form-group
      = f.label :permanent_address, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_area :permanent_address, {:class => 'form-control', :required => true}
  %br
  %fieldset
    %legend Last Degree
    .form-group
      = f.label :last_degree, 'Name', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :last_degree, {:class => 'form-control', :required => true}
    .form-group
      = f.label :last_university, 'University', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :last_university, {:class => 'form-control', :required => true}
    .form-group
      = f.label :passing_year, 'Year', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :passing_year, {:class => 'form-control', :required => true}
  %br
  %fieldset
    %legend Emergency Contact Person
    .form-group
      = f.label :emergency_contact_person_name, 'Name', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :emergency_contact_person_name, {:class => 'form-control', :required => true}
    .form-group
      = f.label :emergency_contact_person_relation, 'Relation', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :emergency_contact_person_relation, {:class => 'form-control', :required => true}
    .form-group
      = f.label :emergency_contact_person_number, 'Number', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :emergency_contact_person_number, {:class => 'form-control', :required => true}
  %br
  %fieldset
    %legend Photo
    .form-group
      = f.label :avatar, 'Image', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =image_tag f.object.avatar.url(:medium)
        =f.file_field :avatar, {:class => 'form-control'}

  %br
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Accept', :class => 'btn btn-success'
      = f.submit 'Reject', :class => 'btn btn-danger'
