%h1.page-title Leave Balance
%table.table
  %thead
    %tr.info
      %th
      %th Casual (Hours)
      %th Medical (Hours)
  %tbody
    %tr
      %th.danger Yearly Leave
      %td.warning= LeaveTracker::YEARLY_CASUAL_LEAVE
      %td.success= LeaveTracker::YEARLY_MEDICAL_LEAVE
    %tr
      %th.danger Carried Forwarded Leave
      %td.warning= @user.leave_tracker.carried_forward_casual
      %td.success= @user.leave_tracker.carried_forward_medical
    %tr
      %th.danger Accrued Leave
      %td.warning= @user.leave_tracker.accrued_casual_leave
      %td.success= @user.leave_tracker.accrued_medical_leave
    %tr
      %th.danger Consumed Leave
      %td.warning= @user.leave_tracker.consumed_casual_leave
      %td.success= @user.leave_tracker.consumed_medical_leave

%h1.page-title Leave log
%table.table.leave-log
  %thead
    %tr.info
      %th Date
      %th Leave Type
      %th Reason
      %th Start Date
      %th End Date
      %th Half Day?
      %th Status
  %tbody
    - @user.leave.each do |leave|
      %tr
        %th.danger= leave.created_at.strftime("%d-%m-%Y")
        %td.warning= leave.leave_type == Leave::CASUAL ? 'Casual' : 'Medical'
        %td.success= leave.reason
        %td.warning= leave.start_date.strftime("%d-%m-%Y")
        %td.success= leave.end_date.strftime("%d-%m-%Y") if leave.end_date.present?
        %td.warning= leave.half_day
        %td.success
          - if leave.status == Leave::ACCEPTED
            Approved
          - elsif leave.status == Leave::REJECTED
            Rejected
          - else
            Pending