%h1.page-title My Leave
%table.table
  %thead
    %tr.info
      %th
      %th Casual (Hours)
      %th Medical (Hours)
  %tbody
    %tr
      %th.danger Yearly Leave
      %td.warning= LeaveTracker::YEARLY_CASUAL_LEAVE
      %td.success= LeaveTracker::YEARLY_MEDICAL_LEAVE
    %tr
      %th.danger Carried Forwarded Leave
      %td.warning= @user.leave_tracker.carried_forward_casual
      %td.success= @user.leave_tracker.carried_forward_medical
    %tr
      %th.danger Accrued Leave
      %td.warning= @user.leave_tracker.accrued_casual_leave
      %td.success= @user.leave_tracker.accrued_medical_leave
    %tr
      %th.danger Consumed Leave
      %td.warning= @user.leave_tracker.consumed_casual_leave
      %td.success= @user.leave_tracker.consumed_medical_leave