%h1.page-title Leave Balance
%table.table
  %thead
    %tr
      %th
      %th Casual (Hours)
      %th Medical (Hours)
  %tbody
    %tr
      %th Yearly Leave
      %td= LeaveTracker::YEARLY_CASUAL_LEAVE
      %td= LeaveTracker::YEARLY_MEDICAL_LEAVE
    %tr
      %th Accrued in this year
      %td= @user.leave_tracker.accrued_vacation_this_year
      %td= @user.leave_tracker.accrued_medical_this_year
    %tr
      %th Carried Forwarded Leave
      %td= @user.leave_tracker.carried_forward_vacation
      %td= @user.leave_tracker.carried_forward_medical
    %tr
      %th Accrued in total
      %td= @user.leave_tracker.accrued_vacation_total
      %td= @user.leave_tracker.accrued_medical_total
    %tr
      %th Consumed leave
      %td= @user.leave_tracker.consumed_vacation
      %td= @user.leave_tracker.consumed_medical
    %tr
      %th Accrual balance
      %td= @user.leave_tracker.accrued_vacation_balance
      %td= @user.leave_tracker.accrued_medical_balance

%h1.page-title Leave log
%table.table.leave-log
  %thead
    %tr
      %th Date
      %th Leave Type
      %th Reason
      %th Start Date
      %th End Date
      %th Half Day?
      %th Status
  %tbody
    - @user.leave.each do |leave|
      %tr
        %th= leave.created_at.strftime("%d-%m-%Y")
        %td= leave.leave_type == Leave::CASUAL ? 'Casual' : 'Medical'
        %td= leave.reason
        %td= leave.start_date.strftime("%d-%m-%Y")
        %td= leave.end_date.strftime("%d-%m-%Y") if leave.end_date.present?
        %td= leave.half_day
        %td
          - if leave.status == Leave::ACCEPTED
            Approved
          - elsif leave.status == Leave::REJECTED
            Rejected
          - else
            Pending