- if current_user.has_admin_privilege?
  = render partial: 'user_filter'

.card
  .card-header
    .fs-5 My team

  - unless @team.empty?
    %table.table.table-responsive.table-bordered
      %thead
        %tr
          %th Name
          %th Approval Path
          %th Weekend Scheme
          %th Holiday Scheme
          %th Accrual Casual Balance
          %th Accrual Medical Balance
      %tbody
        - @team.each do |employee|
          %tr
            %td
              = link_to employee.name, leave_tracker_path(employee)
            %td
              - if employee.approval_path.present?
                = link_to "#{employee.approval_path.name}", approval_chain_path(employee.approval_path)
              - else
                %p ---
            %td
              - if employee.weekend.present?
                = link_to "#{employee.weekend.name}", detail_weekend_path(employee.weekend)
              - else
                %p ---
            %td
              - if employee.holiday_scheme.present?
                = link_to "#{employee.holiday_scheme.name}", holiday_scheme_path(employee.holiday_scheme)
              - else
                %p ---
            %td= employee.leave_tracker.present? ? employee.leave_tracker.accrued_vacation_balance : '---'
            %td= employee.leave_tracker.present? ? employee.leave_tracker.accrued_medical_balance : '---'
  - else
    .alert.alert-info{:role => 'alert'}
      %strong Empty!
      No record found.