%h1.page-header
  My Team

- if @team.size > 0
  #accordion1.panel-group
    .panel.panel-default
      - @team.each do |employee|
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#collapse_#{employee.id}"}
              = employee.name
              %span.pull-right
                - if employee.is_employee?
                  Employee
                - elsif employee.is_ttf?
                  TTF
        .panel-collapse.collapse{:id => "collapse_#{employee.id}"}
          %table.table.table-bordered
            %thead
              %tr
                %th
                %th Casual (hours)
                %th Medical (hours)
            %tbody
              - if employee.leave_tracker.present?
                %tr
                  %th Yearly Leave
                  %td= LeaveTracker::YEARLY_CASUAL_LEAVE
                  %td= LeaveTracker::YEARLY_MEDICAL_LEAVE
                %tr
                  %th Carried Forwarded Leave
                  %td= employee.leave_tracker.carried_forward_vacation
                  %td= employee.leave_tracker.carried_forward_medical
                %tr
                  %th Accrued Leave
                  %td= employee.leave_tracker.accrued_vacation_total
                  %td= employee.leave_tracker.accrued_medical_total
                %tr
                  %th Consumed Leave
                  %td= employee.leave_tracker.consumed_vacation
                  %td= employee.leave_tracker.consumed_medical
- else
  .alert.alert-info{:role => 'alert'}
    %strong Empty!
    No record found.