%h1.page-title My Team
#accordion1.panel-group
  .panel.panel-default
    - @team.each do |employee|
      .panel-heading
        %h4.panel-title
          %a{"data-parent" => "#accordion1", "data-toggle" => "collapse", :href => "#collapse_#{employee.id}"}
            = employee.name
            %span.pull-right
              - if employee.role == User::EMPLOYEE
                Employee
              - elsif employee.role == User::TTF
                TTF
      .panel-collapse.collapse{:id => "collapse_#{employee.id}"}
        .panel-body
          %table.table
            %thead
              %tr.info
                %th
                %th Casual (Hours)
                %th Medical (Hours)
            %tbody
              - if employee.leave_tracker.present?
                %tr
                  %th.danger Yearly Leave
                  %td.warning= LeaveTracker::YEARLY_CASUAL_LEAVE
                  %td.success= LeaveTracker::YEARLY_MEDICAL_LEAVE
                %tr
                  %th.danger Carried Forwarded Leave
                  %td.warning= employee.leave_tracker.carried_forward_vacation
                  %td.success= employee.leave_tracker.carried_forward_medical
                %tr
                  %th.danger Accrued Leave
                  %td.warning= employee.leave_tracker.accrued_vacation_total
                  %td.success= employee.leave_tracker.accrued_medical_total
                %tr
                  %th.danger Consumed Leave
                  %td.warning= employee.leave_tracker.consumed_vacation
                  %td.success= employee.leave_tracker.consumed_medical
