<h1>Listing kpi_items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Score</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kpi_items.each do |kpi_item| %>
      <tr>
        <td><%= kpi_item.title %></td>
        <td><%= kpi_item.description %></td>
        <td><%= kpi_item.score %></td>
        <td><%= kpi_item.start_date %></td>
        <td><%= kpi_item.end_date %></td>
        <td><%= kpi_item.status %></td>
        <td><%= link_to 'Show', kpi_item %></td>
        <td><%= link_to 'Edit', edit_kpi_item_path(kpi_item) %></td>
        <td><%= link_to 'Destroy', kpi_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kpi item', new_kpi_item_path %>
