%ul.nav.navbar-nav
  %li{class: (params[:controller].eql?('attendances') ? 'active' : '')}
    = link_to 'Monthly TT', attendances_path
  %li{class: (params[:controller].eql?('users') || params[:controller].eql?('leaves') ? 'active' : '')}
    = link_to 'My Leave', leave_tracker_path(current_user)
  %li{class: (params[:controller].eql?('users') || params[:controller].eql?('leaves') ? 'active' : '')}
    = link_to 'Honor Board', honor_board_contents_path
  %li{class: (params[:controller].eql?('users') || params[:controller].eql?('leaves') ? 'active' : '')}
    = link_to 'Salaat time', salaat_times_path

  - if current_user.is_admin?
    %li
      = link_to 'Admin', admin_dashboard_path, :target => '_blank'
  %li
    = link_to 'Logout', destroy_user_session_path, method: :delete