.card
  .card-header
    %h2.fs-5 All leaves
  .card-body
    = render partial: 'search_form'

    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th Name
          %th Leave type
          %th Status
          %th Start date
          %th End date
          %th Action
      %tbody
        - @leaves.each do |leave|
          %tr
            %td= leave.user.name
            %td= get_type leave
            %td= get_status leave.status
            %td= leave.start_date
            %td= leave.end_date
            %td
              - unless unannounced?(leave)
                = link_to 'Show', leave_path(leave)
              - if leave.start_date >= Time.now or leave.is_awarded?
                |
                = link_to 'Cancel', leave_path(leave), method: :delete, data: { confirm: 'Are you sure' }
  .card-footer
    != pagy_nav(@pagy) if @pagy.pages > 1
