-#= form_tag super_admin_leaves_path, method: :get, class: 'form-inline' do
-#  = select_tag :status, options_for_select(Leave::LEAVE_STATUSES, params[:status]), class: 'form-control', prompt: 'Select leave status'
-#  = submit_tag 'Submit', class: 'btn btn-success'
= render partial: 'shared/leave_filter'
.panel.panel-default
  .panel-heading
    %h3
      All Leaves

  -##loading-message Loading table... Please Wait
  %table.table.table-bordered.table-hover#leave-table
    %thead
      %tr
        %th Name
        %th Leave type
        %th Status
        %th Start date
        %th End date
        %th Action
    %tbody
      - @leaves.each do |leave|
        %tr
          %td= leave.user.name
          %td= get_type leave
          %td= get_status leave.status
          %td= leave.start_date
          %td= leave.end_date
          %td
            - p leave.leave_type
            - unless unannounced?(leave)
              = link_to 'Show', leave_path(leave)
-#  %p= paginate @leaves
-#:javascript
-#  $(document).ready( function () {
-#    $('#leave-table').dataTable({
-#       "searching": false,
-#       "pageLength":10,
-#       "lengthChange": false,
-#       "ordering": false
-#    });
-#    $('#loading-message').hide();
-#    $('#leave-table').removeClass('hidden');
-#  } );