%h2= "Edit KPI of: #{@kpi.user.name}"
%hr

- user_id       = @kpi.user_id || ''
- start_date    = @kpi.start_date.to_s || ''
- end_date      = @kpi.end_date.to_s || ''
- year          = start_date.split('-').first || ''
- time_period   = Kpi::QUATERS.find_index{|q| q[:start_month] == start_date.split('-')[1].to_i && q[:end_month] == end_date.split('-')[1].to_i}

= form_for(@kpi, html: { class: '' }) do |f|
  .row
    .col-md-2
      .form-group
        - c_y = Time.now.year
        - s_y = c_y - 10
        = f.label 'Year'
        = f.select :year, options_for_select((s_y..c_y).to_a.map{ |y| [y, y] }.reverse, year), { include_blank: 'select' }, class: 'form-control', disabled: !current_user.is_ttf?
    .col-md-2
      .form-group
        = f.label 'Time period'
        = f.select :time_period, options_for_select([['Q-1', '0'], ['Q-2', '1'], ['Q-3', '2'], ['Q-4', '3']], time_period), { include_blank: 'select'}, class: 'form-control', disabled: !current_user.is_ttf?
    .col-md-2
      .form-group
        = f.label :start_date
        = f.text_field :start_date, value: start_date, class: 'form-control', disabled: !current_user.is_ttf?
    .col-md-2
      .form-group
        = f.label :end_date
        = f.text_field :end_date, value: end_date, class: 'form-control', disabled: !current_user.is_ttf?

  - data = JSON.parse(@kpi.data)
  - @kpi_items.each do |kpi_item|
    - item = data.find{ |item| item['item_id'] == kpi_item.id }
    - score = item.blank? ? '' : item['score']
    %hr
    .row
      .col-md-10
        %label= kpi_item.title 
        %p= kpi_item.description
      .col-md-2
        %label Score
        %br
          %input{ type: 'hidden', name: 'kpi_item_ids[]', value: kpi_item.id }
          %input{ type: 'text', name: 'kpi_item_score[]', value: score, class: 'form-control kpi-score', disabled: !current_user.is_ttf? }
          Out of 5
  %hr
  .row
    .col-md-12
      = f.label "TTF/ Appraiser's comment (about job/task/career):"
      = f.text_area :ttf_comment, class: 'form-control', disabled: !current_user.is_ttf?
  %hr
  .row
    .col-md-12
      = f.label "Team Member/ Appraisee's comment (about job/task/career):"
      = f.text_area :team_member_comment, class: 'form-control', disabled: current_user.is_ttf?
    
  = f.hidden_field :user_id, value: user_id

  %br
  = f.submit 'Save', class: 'btn btn-info'
  - if current_user.is_ttf? 
    = f.submit 'Submit', class: 'btn btn-success'

:javascript
  $(document).ready(function() {
    let goal = { 
      own: $('#kpi_user_id').val(),
      team: null
    };
    let year = new Date().getFullYear();
    let quaters = [
      { start_date: '01-01-', end_date: '31-03-' },
      { start_date: '01-04-', end_date: '30-06-' },
      { start_date: '01-07-', end_date: '30-09-' },
      { start_date: '01-10-', end_date: '31-12-' }
    ];

    //$('#kpi_year').children("option:selected").val(year);

    $(document).on('click', 'input[type=radio]', function() {

      let selected = $('input[name="goal[personal_or_team]"]:checked').val();

      if(selected == 'own') {
        $('#kpi_team_member').prop('disabled', 'disabled');
      } else {
        $('#kpi_team_member').prop('disabled', '');
      }
    });

    $(document).on('change', 'select#kpi_team_member', function() {
      goal.team = $(this).children('option:selected').val();

      $('#kpi_user_id').val(goal.team);
    });

    $(document).on('change', 'select#goal_year', function() {
      year = $(this).children("option:selected").val();

      let start_date = $('#kpi_start_date').val();
      let end_date = $('#kpi_end_date').val();

      if(start_date != '') {
        let tokens = start_date.split('-');
        $('#kpi_start_date').val(tokens[0] + '-' + tokens[1] + '-' + year);
      }

      if(end_date != '') {
        let tokens = end_date.split('-');
        $('#kpi_end_date').val(tokens[0] + '-' + tokens[1] + '-' + year);
      }
    });

    $(document).on('change', 'select#kpi_time_period', function() {
      let selectedQuater = $(this).children("option:selected").val();

      $('#kpi_start_date').val(quaters[selectedQuater].start_date + year);
      $('#kpi_end_date').val(quaters[selectedQuater].end_date + year);
    });

  });