%h1 KPI's
%hr

= render 'search_form'

= form_for(:kpi, url: review_kpis_path, method: :post, html: { class: '' }) do |f|
  - @kpis.each do |kpi|
    %hr
    .row
      .col-md-12
        %h2= kpi.title 
      .col-md-10
        %p= kpi.description
      .col-md-2
        %label Score
        %br
        %input{ type: 'hidden', name: 'kpi_ids[]', value: kpi.id }
        %input{ type: 'text', name: 'kpi_score[]', class: 'form-control kpi-score' } 
        Out of 5

  = f.hidden_field :user_id, value: params.blank? && params[:kpi].blank? ? params[:kpi][:user_id] : current_user.id 
  = f.submit 'Save', class: 'btn btn-info'
  = f.submit 'Submit', class: 'btn btn-default'

