%h1 Summary of KPI's
%hr

= render 'search_form'

%table.table
  %thead
    %tr
      %th Start date
      %th End date
      %th TTF comment
      %th Team member comment
      %th Score
      %th Status
      %th
      %th
      %th

  %tbody
    - if @kpis.size.zero?
      .alert.alert-danger
        No kpi found!
    - @kpis.each do |kpi|
      %tr
        %td= kpi.start_date
        %td= kpi.end_date
        %td= kpi.ttf_comment
        %td= kpi.team_member_comment
        %td= "0.0"
        %td= kpi.status
        %td= link_to 'Show', kpi
        %td= link_to 'Edit', review_kpis_path(kpi: { user_id: kpi.user_id, start_date: kpi.start_date, end_date: kpi.end_date })
        %td= link_to 'Destroy', kpi, method: :delete, data: { confirm: 'Are you sure?' }
     
%br

:javascript
  $(document).ready(function() {
    let goal = { 
      own: $('#kpi_user_id').val(),
      team: null
    };
    let year = new Date().getFullYear();
    let quaters = [
      { start_date: '01-01-', end_date: '31-03-' },
      { start_date: '01-04-', end_date: '30-06-' },
      { start_date: '01-07-', end_date: '30-09-' },
      { start_date: '01-10-', end_date: '31-12-' }
    ];

    //$('#kpi_year').children("option:selected").val(year);

    $(document).on('click', 'input[type=radio]', function() {

      let selected = $('input[name="goal[personal_or_team]"]:checked').val();

      if(selected == 'own') {
        $('#kpi_team_member').prop('disabled', 'disabled');
      } else {
        $('#kpi_team_member').prop('disabled', '');
      }
    });

    $(document).on('change', 'select#kpi_team_member', function() {
      goal.team = $(this).children('option:selected').val();

      $('#kpi_user_id').val(goal.team);
    });

    $(document).on('change', 'select#goal_year', function() {
      year = $(this).children("option:selected").val();

      let start_date = $('#kpi_start_date').val();
      let end_date = $('#kpi_end_date').val();

      if(start_date != '') {
        let tokens = start_date.split('-');
        $('#kpi_start_date').val(tokens[0] + '-' + tokens[1] + '-' + year);
      }

      if(end_date != '') {
        let tokens = end_date.split('-');
        $('#kpi_end_date').val(tokens[0] + '-' + tokens[1] + '-' + year);
      }
    });

    $(document).on('change', 'select#kpi_time_period', function() {
      let selectedQuater = $(this).children("option:selected").val();

      $('#kpi_start_date').val(quaters[selectedQuater].start_date + year);
      $('#kpi_end_date').val(quaters[selectedQuater].end_date + year);
    });

  });
