%h1 Summary of KPI's
%hr

= render 'search_form'

%table.table
  %thead
    %tr
      %th Start date
      %th End date
      %th TTF comment
      %th Team member comment
      %th Score
      %th Status
      %th Action

  %tbody
    - if @kpis.size.zero?
      .alert.alert-danger
        No kpi found!
    - @kpis.each do |kpi|
      %tr
        %td= kpi.start_date
        %td= kpi.end_date
        %td= kpi.ttf_comment
        %td= kpi.team_member_comment
        %td= kpi.score
        %td= kpi_status_str(kpi.status)
        %td
          = link_to 'Details', kpi
          - if kpi_editable? kpi
            = link_to 'Edit', edit_kpi_path(kpi) 
%br
