<h1>Listing kpis</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Score</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kpis.each do |kpi| %>
      <tr>
        <td><%= kpi.title %></td>
        <td><%= kpi.description %></td>
        <td><%= kpi.score %></td>
        <td><%= kpi.start_date %></td>
        <td><%= kpi.end_date %></td>
        <td><%= kpi.status %></td>
        <td><%= link_to 'Show', kpi %></td>
        <td><%= link_to 'Edit', edit_kpi_path(kpi) %></td>
        <td><%= link_to 'Destroy', kpi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kpi', new_kpi_path %>
