%h2= "KPI details of #{@kpi.user.name} (#{@kpi.user.email})"
%hr

.row
  .col-md-4
    %label Start date:
    = @kpi.start_date
  .col-md-4
    %label End date:
    = @kpi.end_date
  .col-md-2
    %label Status:
    = @kpi.status
  .col-md-2
    %label Score:
    = (@user_kpis.sum { |kpi| kpi["score"] } / @kpi_items.size).round(2)

= render 'kpi_items'

%hr
.row
  .col-md-12
    %label TTF/ Appraiser's comment (about job/task/career):
    %p= @kpi.ttf_comment
%hr
.row
  .col-md-12
    %label Team Member/ Appraisee's comment (about job/task/career):
    %p= @kpi.team_member_comment
