= form_for(@leave, html: { class: '', 'data-controller' => 'leave' }) do |f|
  = render 'shared/error_messages', target: @leave

  = f.hidden_field :status, value: Leave::PENDING
  = f.hidden_field :pending_at, value: current_user.approval_path.try(:path_chains).try(:count)
  = f.hidden_field :approval_path_id, value: current_user.approval_path_id

  .row.mb-3
    %label.col-sm-2.col-form-label
      %span Leave type
      %span.text-danger *
    .col-sm-10
      = f.select :leave_type, Leave::LEAVE_TYPES.slice(0,2), {}, {:class => 'form-select'}
  .row.mb-3
    %label.col-sm-2.col-form-label
      %span Leave Duration
      %span.text-danger *
    .col-sm-10
      = f.select :half_day, Leave::LEAVE_DURATIONS, {}, {:class => 'form-select'}
  .row.mb-3
    %label.col-sm-2.control-label
      %span Start date
      %span.text-danger *
    .col-sm-10
      = f.text_field :start_date, :class => 'form-control date-picker', :placeholder => 'Enter start date (ex: YYYY-MM-DD)', :autocomplete => :off, :required => 'true'
  .row.mb-3
    %label.col-sm-2.control-label
      %span End date
      %span.text-danger *
    .col-sm-10
      = f.text_field :end_date, :class => 'form-control date-picker', :placeholder => 'Enter end date (ex: YYYY-MM-DD)', :autocomplete => :off, :required => 'true'
  .row.mb-3
    = f.label :reason, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_area :reason, :maxlength => '300', :class => 'form-control', :rows => 7
      %p.help-block 300 characters remaining.
  .row.mb-3
    %label.col-sm-2.control-label
    .col-sm-10
      = f.submit 'Apply', :class => 'btn btn-primary'
