= form_for(@leave, html: { class: 'form-horizontal' }) do |f|
  = render 'shared/error_messages', target: @leave

  = f.hidden_field :status, value: Leave::PENDING
  = f.hidden_field :pending_at, value: current_user.approval_path.try(:path_chains).try(:count)
  = f.hidden_field :approval_path_id, value: current_user.approval_path_id

  .form-group
    = f.label :leave_type, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.select :leave_type, Leave::LEAVE_TYPES.slice(0,2), {}, {:class => 'form-control'}
  .form-group
    = f.label 'Leave Duration', {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.select :half_day, Leave::LEAVE_DURATIONS, {}, {:class => 'form-control'}
  .form-group
    = f.label :start_date, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :start_date, :class => 'form-control date-picker', :placeholder => 'Enter start date (ex: dd/mm/yyyy)', :autocomplete => :off, :required => 'true'
  .form-group
    = f.label :end_date, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_field :end_date, :class => 'form-control date-picker', :placeholder => 'Enter end date (ex: dd/mm/yyyy)', :autocomplete => :off, :required => 'true'
  .form-group
    = f.label :reason, {:class => 'col-sm-2 control-label'}
    .col-sm-10
      = f.text_area :reason, :maxlength => '300', :class => 'form-control', :rows => 7
      %p.help-block
        %span= 300
        characters remaining.
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Apply', :class => 'btn btn-primary'
