= form_for(@leave) do |f|
  - if @leave.errors.any?
    #error_explanation
      %h2
        = pluralize(@leave.errors.count, "error")
        prohibited this leafe from being saved:
      %ul
        - @leave.errors.full_messages.each do |msg|
          %li= msg
  = hidden_field_tag :status, Leave::PENDING
  .form-group
    = f.label :leave_type
    = f.select :leave_type, Leave::LEAVE_TYPES, {}, {:class => 'form-control'}
  .form-group
    = f.label :start_date
    = f.text_field :start_date, :class => 'form-control leave-datepicker', :placeholder => 'Select Start Date'
  .form-group
    = f.label :end_date
    = f.text_field :end_date, :class => 'form-control leave-datepicker', :placeholder => 'Select End Date'
  .form-group
    = f.label :half_day
    = f.check_box :half_day, :class => 'checkbox-inline'
  .form-group
    = f.label :reason
    = f.text_area :reason, :class => 'form-control', :rows => 7
  .form-group
    = f.submit 'Apply', :class => 'btn btn-primary'

:javascript
  $(document).ready(function () {
    $('.leave-datepicker').datepicker({
        format: "dd/mm/yyyy"
    }).on('changeDate', function(e){
        $(this).datepicker('hide');
    });
  });
