.row
  .col-sm-3
    = render partial: 'shared/left_menu'

  .col-sm-9
    %h1.page-header
      Leaves

    - if @leaves.size > 0
      %table.table.table-bordered
        %thead
          %tr
            %th{:width => '20%'} Name
            %th{:width => '15%'} Type
            %th{:width => '30%'} Reason
            %th{:width => '15'} Status
            %th{:width => '20'}
        %tbody
          - @leaves.each do |leave|
            %tr
              %td= leave.user.name
              %td= leave.leave_type == Leave::CASUAL ? 'Casual' : 'Medical'
              %td= leave.reason
              %td= get_status(leave.status)
              %td
                %button{:class => 'btn btn-success btn-xs', :data => {:leave_id => leave.id}, :title => 'Approve'}
                  Approve
                %button{:class => 'btn btn-danger btn-xs', :data => {:leave_id => leave.id}, :title => 'Reject'}
                  Reject
    - else
      .alert.alert-info{:role => 'alert'}
        %strong Empty!
        No record found.

:javascript
  $(document).ready(function() {
    console.log('hi');
  });