%h1.page-title Leave Application Summary

%table.table
  %tr
    %th User:
    %td= @leave.user.name
  %tr
    %th Email:
    %td= @leave.user.email
  %tr
    %th Reason:
    %td= @leave.reason
  %tr
    %th Leave type:
    %td= @leave.leave_type == Leave::CASUAL ? 'Casual' : 'Medical'
  %tr
    %th Status:
    %td
      - if @leave.status == Leave::ACCEPTED
        = 'Accepted'
      - elsif @leave.status == Leave::REJECTED
        = 'Rejected'
      - else
        = 'Pending'
