- time_period   = params[:commit] == 'Search' ? params[:project][:time_period] : 1
- start_date    = params[:commit] == 'Search' ? params[:project][:start_date] : ''
- end_date      = params[:commit] == 'Search' ? params[:project][:end_date] : ''

- time_periods = [['Today', '0'], ['Last 7 days', '7'], ['Last 14 days', '14'], ['Last 30 days', '30'], ['Last 90 days', '90'], ['Last 6 months', '180'], ['Last 1 year', '365']]

= form_for(:project, url: summary_projects_path, method: :get, html: { class: '' }) do |f|
  .col-md-4
    .form-group
      = f.label 'Time period'
      = f.select :time_period, options_for_select(time_periods, time_period), { include_blank: 'select'}, class: 'form-control'
  .col-md-2
    .form-group
      = f.label :start_date
      = f.text_field :start_date, value: start_date, class: 'form-control'
  .col-md-2
    .form-group
      = f.label :end_date
      = f.text_field :end_date, value: end_date, class: 'form-control'
  .col-md-2.form-group
    = blank_space
    = f.submit 'Search', class: 'btn btn-info btn-block'

:javascript
  $(document).ready(function() {
    $(document).on('change', 'select#project_time_period', function() {

      let time_period = $(this).children("option:selected").val();
      let date = new Date();
      
      date.setDate(date.getDate() - time_period);
      let month = (date.getMonth() + 1) <= 9 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1);
      
      $('#project_start_date').val(date.getFullYear() + "/" + month + "/" + date.getDate());
    });

    $("#project_start_date").datepicker();
    $("#project_end_date").datepicker();
  });