<h1>Projects</h1>
<hr/>

<div class="col-sm-12 mb-3">
  <% if @is_active %>
    <%= link_to 'Show inactive projects', projects_path(is_active: false) %>
  <% else %>
    <%= link_to 'Show active projects', projects_path(is_active: true) %>
  <% end %>
  |
  <%= link_to 'Switch to new view', dashboard_projects_path(project: {time_period: 7, start_date: 7.days.ago.strftime('%Y/%m/%d'), end_date: Time.now.strftime('%Y/%m/%d')}, commit: 'Search') %>
</div>

<div data-controller="projects">
  <table class="table table-bordered" id="projects-list-table">
    <thead>
      <tr>
        <th>Project name</th>
        <th>Description</th>
        <th>Team members</th>
        <th>Status</th>
        <% if @is_admin == 1 %>
          <th> Action</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <% $isActive %>
        <% if (project.is_active) %>
          <% $isActive = 'Yes' %>
        <% else %>
          <% $isActive = 'No' %>
        <% end %>
        <tr>
          <td><%= link_to project.project_name, project_path(project,:start_date => Time.now.strftime('%Y/%m/%d'), :end_date => Time.now.strftime('%Y/%m/%d'), :selected_index => 1) %></td>
          <td><%= project.description %></td>
          <td>
            <% project.users.each do |user| %>
              <%= link_to  user.email , employee_path(user) %>
              <br>
            <% end %>
          </td>
          <td><%= $isActive %></td>
          <% if @is_admin == 1 %>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <%end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>