
<%= form_for @project do |f| %>
    <%= label :project_name, 'Project Name' %>
    <br />
    <%= f.text_field :project_name ,:maxlength=>"64"%>
    <br /> <br />
    <%= label :project_description, 'Project Description' %>
    <br />
    <%= f.text_area :description, size: "60x12" ,:maxlength=>"128"%>
    <br /> <br />
    <%= f.radio_button :is_active, 'true', :checked => true %>
    <%= label :contactmethod_email, 'Active' %>
    <%= f.radio_button :is_active, 'false' %>
    <%= label :contactmethod_sms, 'Not Active' %>
    <br /><br />
    <h4>Select Users</h4>
    <select id='callbacks' multiple='multiple'>
        <% User.active.each do |user| %>
            <option value=<%=user.id %>><%=user.name %></option>
        <%end %>
    </select>
    <input id="ids" name="user_ids"  type="hidden"/>
    <br/>
    <br/>
    <%= f.submit "Submit " %>


<% end %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<script type="text/javascript">
    // run callbacks
    var user_ids = [];
    $('#callbacks').multiSelect({
        afterSelect: function(values){
            // alert("Select value: "+values);
            user_ids.push(values);
            $('#ids').val(user_ids);
        },
        afterDeselect: function(values){
            // alert("Deselect value: "+values);
            user_ids.splice(user_ids.indexOf(values),1);
            $('#ids').val(user_ids);

        }
    });
</script>