<%=  %>
<%= link_to 'Go Back', projects_path(is_active: true) %>
<br>
<br>

<input type="hidden" value="<%=@project.id %>" id="project_id"></input>

<input class = "timesheet-date-picker" type="text" id="dt1" data-date-format="yyyy/mm/dd" value="<%=@start_date %>" style="text-align:center;">
<lebel > To </lebel>
<input type="text" id="dt2" class = "timesheet-date-picker " data-date-format="yyyy/mm/dd" value="<%=@end_date %>" style="text-align:center;">
<select id = "time_select" onchange="fixedTimeSelect()"  style="height:1.8em;">
    <%if @selected_index =="0" %>
        <option id= "today" value="0" selected="selected"></option>
    <%else %>
        <option id= "today" value="0"></option>
    <%end %>
    <%if @selected_index =="1" %>
        <option id= "today" value="0" selected="selected">Today</option>
    <%else %>
        <option id= "today" value="0">Today</option>
    <%end %>
    <%if @selected_index =="2" %>
        <option id= "last_week" value="7" selected="selected">Last 7 days</option>
    <%else %>
        <option id= "last_week" value="7">Last 7 days</option>
    <%end %>
    <%if @selected_index =="3" %>
        <option id= "last_two_week" value="14" selected="selected">Last 14 days</option>
    <%else %>
        <option id= "last_two_week" value="14" >Last 14 days</option>
    <%end %>
    <%if @selected_index =="4" %>
        <option id= "last_month" value="30" selected="selected">Last 30 days</option>
    <%else %>
        <option id= "last_month" value="30">Last 30 days</option>
    <%end %>
    <%if @selected_index =="5" %>
        <option id= "last_three_month" value="90" selected="selected">Last 90 day</option>
    <%else %>
        <option id= "last_three_month" value="90">Last 90 days</option>
    <%end %>
</select>
<input type="button" value="Project Details xml" onclick="downloadXLSheet()">

<br>
<table id="timesheetprojecttable" style="width:100%">
    <tr>
        <th>Team Member</th>
        <th>Spent Hours</th>
    </tr>
   <h4> <%= @project.project_name %></h4>
<%= @Logs %>
    <% i = 0 %>
<% @logs.each do |log| %>
       <% contat_str = log[:id].to_s+','+log[:project_id].to_s %>

        <td> <a href="javascript:void(0);" onclick="reDirectToTimeSheet(<%=i %>);" id=<%= "helloid" +i.to_s %> name="<%= contat_str %>" ><%= log[:username] %></a></td>
            <td><%= log[:hours] %> hours <%=  log[:minutes] %> minutes</td>
        <% i = i+1 %>
        </tr>


    <% end %>
</table>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<script type="text/javascript">


    function downloadXLSheet() {
        var timesheetIDNprojectID = document.getElementById("project_id").value;
        var location = "/projects/download_projects.xls"+'?end_date='
            +document.getElementById("dt2").value
            +'&start_date='+document.getElementById("dt1").value
            +'&project_id='+timesheetIDNprojectID
        window.open(location)
    }


    function fixedTimeSelect() {

       var timesheetIDNprojectID = document.getElementById("project_id").value;
       var date_interval = document.getElementById("time_select").value;
  let current_datetime = new Date();
  let formatted_date = current_datetime.getFullYear()+"-"+appendLeadingZeroes((current_datetime.getMonth()+ 1)) + "-"
      +appendLeadingZeroes (current_datetime.getDate());
  document.getElementById("dt2").value = formatted_date;
  let previous_datetime = new Date();
   previous_datetime.setDate( previous_datetime.getDate() - date_interval );
   let formatted_date2 = previous_datetime.getFullYear()+"-"+appendLeadingZeroes((previous_datetime.getMonth()+ 1)) + "-"
       +appendLeadingZeroes (previous_datetime.getDate());
  document.getElementById("dt1").value = formatted_date2;
       var x = document.getElementById("time_select").selectedIndex;
       var y = document.getElementById("time_select").options;

       window.location = "/projects/"+timesheetIDNprojectID+'?end_date='
           +document.getElementById("dt2").value
           +'&selected_index='+ y[x].index
           +'&start_date='+document.getElementById("dt1").value
}
   function appendLeadingZeroes(n){
       if(n <= 9){
           return "0" + n;
       }
       return n
   }
   function reDirectToTimeSheet(i){

       var x = document.getElementById("time_select").selectedIndex;
       var y = document.getElementById("time_select").options;
       var timesheetIDNprojectID = document.getElementById("helloid"+i).name.split(',');
       window.location = ""+'/timesheets/' +
            +timesheetIDNprojectID[0]+
           '?end_date='
           +document.getElementById("dt2").value+
           '&start_date='+document.getElementById("dt1").value+
           '&project_id='+timesheetIDNprojectID[1]
           +'&selected_index='+ y[x].index
   }

   $('#dt2').datepicker().on('changeDate', function (ev) {
       $('#dt2').change();

       var timesheetIDNprojectID = document.getElementById("project_id").value;
       var x = document.getElementById("time_select").selectedIndex;
       var y = document.getElementById("time_select").options;
       window.location = "/projects/"+timesheetIDNprojectID+'?end_date='
           +document.getElementById("dt2").value
           +'&selected_index=0'
           +'&start_date='+document.getElementById("dt1").value
   });
   $('#dt1').datepicker().on('changeDate', function (ev) {
       $('#dt1').change();
       var x = document.getElementById("time_select").selectedIndex;
       var y = document.getElementById("time_select").options;
       var timesheetIDNprojectID = document.getElementById("project_id").value;

       window.location = "/projects/"+timesheetIDNprojectID+'?end_date='
           +document.getElementById("dt2").value
           +'&selected_index=0'
           +'&start_date='+document.getElementById("dt1").value
   });

</script>