%h2 Projects summary report
%hr

= render 'search_form'

.col-md-12
  = link_to 'Download weekly report', weekly_report_projects_path(start_date: params[:project][:start_date], end_date: params[:project][:end_date], format: 'xls')
  |
  = link_to 'Download monthly report', monthly_report_projects_path(start_date: params[:project][:start_date], end_date: params[:project][:end_date], format: 'xls')
  |
  = link_to 'Switch to old view', show_all_projects_path(selected_index: 2, start_date: 7.days.ago.strftime('%Y/%m/%d'), end_date: Time.now.strftime('%Y/%m/%d'))
  |
  = button_tag 'Show Advanced Options', id: 'toggle-advanced-options', class: '', type: 'button'

.row
  %table.table.table-bordered#projects-summary
    %thead>
      %tr
        %th Name
        %th Total hours
        %th Projects

    %tbody
      - @project_summaries.each do |summary|
        %tr
          %td= summary[:user_name]
          %td= summary[:total_hours]
          %td
            - summary[:projects].each do |project|
              - percentage = (100 * (project[:hours].to_f / summary[:total_hours].to_f)).round(2)
              %span{style: 'border: 1px solid gray; padding: 5px;'}= "#{project[:name]} #{percentage}% (#{project[:hours]})"

:javascript

  $(document).ready(function() {

    var dataTable = $('#projects-summary').DataTable({
      lengthChange: false,
      pageLength: 100,
      dom: '<"dt-top-left"Tf>lrtip',
      buttons: ['print']
    });

    $(document).on("turbolinks:before-cache", function() {
      if (dataTable !== null) {
        dataTable.destroy();
        dataTable = null;
      }
    });
  });
  