<a href="#" onclick="history.go(-1)">Go Back</a>
<h3>Edit Timesheet </h3><br>
<%= form_for @timesheets do |f| %>
    <% current_user_projects = current_user.projects %>
    <div class = 'row' >
        <div class = 'col-md-6' >
            <p>
                <%= label :date, 'Date' %>
                <%= label '', ' *', class: 'required-asterisk' %>
            </p>
            <p>
                <%= f.text_field :date, :class => 'form-control timesheet-date-picker', value: @timesheets.date ,:onkeydown=>"return false"%>
            </p>
        </div>
        <div class = 'col-md-6' >
            <p>
                <%= label :project, 'Project Name' %>
                <%= label '', ' *', class: 'required-asterisk' %>
            </p>
            <p>
                <%= f.select :project_id, options_for_select(@projects.collect { | project | [project.project_name,  project.id] }, selected: @timesheets.project_id), {}, {required: 'true', autofocus: 'true', class: 'form-control',:maxlength=>"128"}%>
            </p>
        </div>
        <div class = 'col-md-6' >
            <p>
                <%= label :project, 'Task' %>
                <%= label '', ' *', class: 'required-asterisk' %>
            </p>
            <p>
                <%= f.text_field :task ,:class => 'form-control',required: 'true',:maxlength=>"128"%>
            </p>
        </div>
        <div class = 'col-md-6' >
            <p>
                <%= label :project, 'Ticket Number' %>
            </p>
            <p>
                <%= f.text_field :ticket_number,:class => 'form-control',:maxlength=>"128" %>
            </p>
        </div>
        <div class = 'col-md-6' >
            <p>
                <%= label :project, 'Ticket Link' %>
            <p>
                <%= f.text_field :ticket_link,:class => 'form-control' ,:maxlength=>"128"%>
            </p>
        </div>
        <div class = 'col-md-6'  >
            <div class = 'row' >
                <div class = 'col-md-6' >
                    <p>
                        <%= label :project, 'Hours spent' %>
                        <%= label '', ' *', class: 'required-asterisk' %>
                    </p>
                    <p>
                        <%= f.select :hours, options_for_select(0..@total_hours, selected: @timesheets.hours) , {}, {required: 'true', autofocus: 'true', class: 'form-control'}%>
                    </p>
                </div>
                <div class = 'col-md-6' >
                    <p>
                        <%= label :project, 'Minutes spent' %>
                        <%= label '', ' *', class: 'required-asterisk' %>
                    </p>
                    <p>
                        <%= f.select :minutes, options_for_select((0..@total_mins).map {|n| n*15 }, selected: @timesheets.minutes) , {}, {required: 'true', autofocus: 'true', class: 'form-control'}%>
                    </p>
                </div>

            </div>



        </div>

        <div class = 'col-md-6'  style="clear: left;">
            <p>
                <%= label :description, 'Description/Comments' %>
            </p>
            <p>
                <%= f.text_area :description,:class => 'form-control' , cols: "30", rows: "10",:maxlength=>"512"%>
            </p>
        </div>
    </div>

    <%= f.submit "Update" %>
<% end %>
