<%= link_to 'Go Back', timesheets_path(selected_index: 0,start_date: (Time.now-14.days).strftime("%Y/%m/%d") ,end_date: Time.now.strftime("%Y/%m/%d")) %>
<%= form_for @timesheets do |f| %>
    <div class="row">
        <div class="col-md-6">
            <p>
                <%= label :date, 'Date' %>
            </p>
            <p>
                <%= f.text_field :date, :class => 'form-control timesheet-date-picker', value: @timesheets.date ,:onkeydown=>"return false"%>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <%= label :project, 'Project Name' %>
            </p>
            <p>
                <%= f.select :project_id, options_for_select(@projects.collect { | project | [project.project_name,  project.id] }, selected: @timesheets.project_id), {}, {required: 'true', autofocus: 'true', class: 'form-control',:maxlength=>"128"}%>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <%= label :project, 'Task' %>
            </p>
            <p>
                <%= f.text_field :task ,:class => 'form-control',:maxlength=>"128"%>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <%= label :project, 'Ticket Number' %>
            </p>
            <p>
                <%= f.text_field :ticket_number,:class => 'form-control',:maxlength=>"128" %>
            </p>
        </div>
        <div class="col-md-6">
            <p>
                <%= label :project, 'Ticket Link' %>
            <p>
                <%= f.text_field :ticket_link,:class => 'form-control' ,:maxlength=>"128"%>
            </p>
        </div>
        <div class="col-md-6" >
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <%= label :project, 'Hours spent' %>
                    </p>
                    <p>
                        <%= f.select :hours, options_for_select(0..@total_hours, selected: @timesheets.hours) , {}, {required: 'true', autofocus: 'true', class: 'form-control'}%>
                    </p>
                </div>
                <div class="col-md-6">
                    <p>
                        <%= label :project, 'Minutes spent' %>
                    </p>
                    <p>
                        <%= f.select :minutes, options_for_select((0..@total_mins).map {|n| n*15 }, selected: @timesheets.minutes) , {}, {required: 'true', autofocus: 'true', class: 'form-control'}%>
                    </p>
                </div>

            </div>



        </div>

        <div class="col-md-6" style="clear: left;">
            <p>
                <%= label :description, 'Description/Comments' %>
            </p>
            <p>
                <%= f.text_area :description,:class => 'form-control' , cols: "30", rows: "10",:maxlength=>"512"%>
            </p>
        </div>
    </div>

    <%= f.submit "Update" %>
<% end %>