.panel.panel-default
  .panel-heading
    %h4 Current Paths

  .panel-body
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th Path Name
          %th Path Chain
          %th Action
      %tbody
        - @approval_paths.each do |path|
          %tr
            %td
              = path.name
            %td
              - path.path_chains.order(priority: :desc).each do |chain|
                = chain.user.name + '--> '
            %td
              = link_to 'Show', approval_chain_path(path)
              |
              = link_to 'Edit', edit_approval_chain_path(path)
              |
              = link_to 'Delete'



  .panel-footer
    = link_to 'Create New Path', new_approval_chain_path, :class => 'btn btn-primary'

.panel.panel-default
  .panel-heading
    %b Employees
  %table.table.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Action
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name
          %td
            = link_to 'Show', approval_chain_path(user)
            |
            = link_to 'Edit', edit_approval_chain_path(user)
