= hidden_field_tag :user, params[:id]

.panel.panel-default
  .panel-heading
    %h4 Create New Path for #{@user.name}
  .panel-body
    .row
      .col-sm-8.col-sm-offset-2
        %table.table-striped
          %tbody
            %tr
              %td
                = select_tag :select_employee, options_from_collection_for_select(@users, :id, :name), multiple: true
              %td
                %button{:value => 'Add'}
                  %strong
                    %span.glyphicon.glyphicon-arrow-right
                %br
                %button{:value => 'Remove'}
                  %strong
                    %span.glyphicon.glyphicon-arrow-left
              %td
                = select_tag :selected_employee, nil, multiple: true
              %td
                %button{:value => 'Up'}
                  %strong
                    %span.glyphicon.glyphicon-arrow-up
                %br
                %button{:value => 'Down'}
                  %strong
                    %span.glyphicon.glyphicon-arrow-down
            %tr
              %td{:style => 'align:center'}
                .text-center
                  %input{:type => 'button', :id => :create_path, :value => 'Create Path'}

%h4 Current paths for #{@user.name}
- @approval_paths.each do |path|
  %br
  - path.path_chains.order(priority: :desc).each do |chain|
    = chain.user.name + '--> '