<div class="row text-center">
  <h1>Nascenia Time & Leave Tracker</h1>
  <p> Time & Leave tracking made smart!</p>
</div>
<hr>

<div class="row justify-content-sm-center">
  <div class="row col-sm-4">
    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post, class: 'btn btn-success' %>
  </div>
</div>

<h3 class="text-center">Or</h3>

<div class="row justify-content-sm-center">
  <div class="col-sm-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row mb-3">
        <%= f.label :email, class: 'col-sm-4 col-form-label' %>
        <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <%= f.label :password, class: 'col-sm-4 col-form-label' %>
        <div class="col-sm-8">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="row mb-3">
          <div class="col-sm-4 col-form-label">&nbsp;</div>
          <div class="col-sm-8">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end %>

      <div class="row mb-3">
        <div class="col-sm-12">
          <%= f.submit "Log in", class: 'form-control btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<p class="text-center">
  Start timers and easily manage your existing time entries in just one tap.
</p>
