.card
  .card-header
    %h2.fs-5= @holiday_scheme.name
  .card-body
    - unless @holidays.empty?
      .card.mb-4
        .card-header
          %h2.fs-5 Holiday list
        .card-body
          = render partial: 'holiday_filter'

          %table.table.table-bordered.table-hover
            %thead
              %tr
                %th Name
                %th Date
                %th Action
            %tbody
              - @holidays.each do |holiday|
                %tr
                  %td= holiday.name
                  %td= holiday.date
                  %td
                    = link_to 'Edit', edit_holiday_path(holiday)
                    |
                    =link_to 'Destroy', holiday_path(holiday), method: :delete, data: {confirm: 'Are you sure'}
    - else
      .card.mb-4
        .card-header
          %h2.fs-5 No holiday found
        .card-body
          = render partial: 'holiday_filter'
    
    - unless @assigned_users.empty?
      .card.mb-4
        .card-header
          %h2.fs-5 Assigned user list
        .card-body
          = render partial: 'employee_filter'

          %table.table.table-bordered.table-hover
            %tbody
              - @assigned_users.each do |user|
                %tr
                  %td= user.name
                  %td= link_to 'Remove', remove_holiday_scheme_path(user)
    - else
      .card.mb-4
        .card-header
          %h2.fs-5 User list
        .card-body
          = render partial: 'employee_filter'
  
  .card-footer
    = link_to 'Add new holiday', new_holiday_path(@holiday_scheme), class: 'btn btn-primary'
    = link_to 'Assign new users', assign_form_holiday_scheme_path(@holiday_scheme), class: 'btn btn-primary'
