.panel.panel-default
  .panel-heading
    %h3
      = @holiday_scheme.name
  .panel-body
    - if @holidays.count > 0
      .panel.panel-default
        .panel-heading
          .row
            .col-sm-8
              %h4
                Holiday list
            = render partial: 'holiday_filter'

        %table.table.table-bordered.table-hover
          %thead
            %tr
              %th
                Name
              %th
                Date
              %th
                Action
          %tbody
            - @holidays.each do |holiday|
              %tr
                %td
                  = holiday.name
                %td
                  = holiday.date
                %td
                  = link_to 'Edit', edit_holiday_path(holiday)
                  |
                  =link_to 'Destroy', holiday_path(holiday), method: :delete,
                  data: {confirm: 'Are you sure'}
    - else
      .panel.panel-default
        .panel-heading
          .row
            .col-sm-8
              %h4
                No holiday found
            = render partial: 'holiday_filter'
    - if @assigned_users.count > 0
      .panel.panel-default
        .panel-heading
          .row
            .col-sm-7
              %h4
                Assigned user list
            = render partial: 'employee_filter'

        %table.table.table-bordered.table-hover
          %tbody
            - @assigned_users.each do |user|
              %tr
                %td
                  = user.name
                %td
                  = link_to 'Remove', remove_holiday_scheme_path(user)
    - else
      .panel.panel-default
        .panel-heading
          .row
            .col-sm-7
              %h4
                No user assigned yet
            = render partial: 'employee_filter'
  .panel-footer
    = link_to 'Add new holiday', new_holiday_path(@holiday_scheme), class: 'btn btn-primary'
    = link_to 'Assign new users', assign_form_holiday_scheme_path(@holiday_scheme), class: 'btn btn-primary'
