- user_id             = params[:user_id].blank? ? current_user.id : params[:user_id].to_i
- time_period         = params[:time_period].blank? ? '' : params[:time_period]
- start_date          = params[:start_date].blank? ? '' : params[:start_date]
- end_date            = params[:end_date].blank? ? '' : params[:end_date]
- team_member         = user_id
- goal_category_id    = params[:goal_category_id].blank? ? '' : params[:goal_category_id]
- title               = params[:title].blank? ? '' : params[:title]
- point               = params[:point].blank? ? '' : params[:point]
- description         = params[:description].blank? ? '' : params[:description]
- status              = params[:status].blank? ? 0 : params[:status]

= form_for(@goal, class: 'form-horizontal') do |f|
  - if @goal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@goal.errors.count, 'error')} prohibited this goal from being saved:"

      %ul
        - @goal.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-4
      .form-group
        = f.label 'Time period'
        = f.select :time_period, options_for_select([['Q-1', '0'], ['Q-2', '1'], ['Q-3', '2'], ['Q-4', '3']], time_period), { include_blank: 'select'}, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :start_date
        = f.text_field :start_date, value: start_date, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :end_date
        = f.text_field :end_date, value: end_date, class: 'form-control'

  %hr
  .row
    .col-md-4
      .form-group
        = f.label 'Persoonal or team'
        %br
        = f.radio_button :personal_or_team, "own", { checked: current_user.id == user_id }
        Own goal
        = f.radio_button :personal_or_team, "team", { checked: current_user.id != user_id }
        Team goal
    .col-md-4
      .form-group
        = f.label 'Team member'
        = f.select :team_member, options_for_select(@team.map{ |u| [u.name, u.id] }, team_member), { include_blank: 'select' }, class: 'form-control', disabled: 'disabled'
        = f.hidden_field :user_id, value: user_id
    .col-md-4
      .form-group
        = f.label :goal_category
        = f.select :goal_category_id, options_for_select(@goal_categories.map{ |d| [d.title, d.id] }, goal_category_id), { include_blank: 'select' }, class: 'form-control'

  .row
    .col-md-8
      .form-group
        = f.label :title
        = f.text_field :title, value: title, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :point
        = f.text_field :point, value: point, class: 'form-control'

  .row
    .col-md-8
      .form-group
        = f.label :description
        = f.text_area :description, value: description, class: 'form-control'
    .col-md-4
      .form-group
        = f.label :status
        = f.select :status, options_for_select(Goal::STATUSES.each_with_index.map{ |v, i| [v, i] }, status), {}, class: 'form-control'
  .row.col-md-12
    = f.hidden_field :status, value: 0
    = f.submit 'Submit', class: 'btn btn-primary'

%br
%br

:javascript
  $(document).ready(function() {
    let goal = { 
      own: $('#goal_user_id').val(),
      team: null
    };
    let year = new Date().getFullYear();
    let quaters = [
      { start_date: '01-01-' + year, end_date: '31-03-' + year },
      { start_date: '01-04-' + year, end_date: '30-06-' + year },
      { start_date: '01-07-' + year, end_date: '30-09-' + year },
      { start_date: '01-10-' + year, end_date: '31-12-' + year }
    ];

    $(document).on('click', 'input[type=radio]', function() {

      let selected = $('input[name="goal[personal_or_team]"]:checked').val();

      if(selected == 'own') {
        $('#goal_team_member').prop('disabled', 'disabled');
      } else {
        $('#goal_team_member').prop('disabled', '');
      }
    });

    $(document).on('change', 'select#goal_team_member', function() {
      goal.team = $(this).children('option:selected').val();

      $('#goal_user_id').val(goal.team);
    });

    $(document).on('change', 'select#goal_time_period', function() {
      let selectedQuater = $(this).children("option:selected").val();

      $('#goal_start_date').val(quaters[selectedQuater].start_date);
      $('#goal_end_date').val(quaters[selectedQuater].end_date);
    });

  });