%table.table
  %thead
    %tr
      %th{ width: '35%' } Title
      %th{ width: '30%' } Description
      %th{ width: '10%' } Point
      %th{ width: '10%' } Status
      %th{ width: '5%' }
      %th{ width: '5%' }
      %th{ width: '5%' }
  %tbody
    - @goals.each do |goal|
      %tr
        %td= goal.title
        %td= goal.description
        %td= goal.point
        %td= goal.status.blank? ? '-' : Goal::STATUSES[goal.status]
        %td= link_to 'Show', goal
        %td= link_to 'Edit', edit_goal_path(goal)
        %td= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' }
        