%h1 Summary of goals
%hr

= render 'search_form'

%table.table
  %thead
    %tr
      %th Title
      %th Description
      %th Point
      %th % completed
      %th Achived point
      %th Start date
      %th End date
      %th Status
      %th
      %th
      %th

  %tbody
    - if @goals.size.zero?
      .alert.alert-danger
        No goal found!
    - @goals.each do |goal|
      %tr
        %td= goal.title
        %td= goal.description
        %td= goal.point
        %td= goal.percent_completed
        %td= goal.achived_point
        %td= goal.start_date
        %td= goal.end_date
        %td= goal.status.blank? ? '-' : Goal::STATUSES[goal.status]
        %td= link_to 'Show', goal
        %td= link_to 'Edit', edit_goal_path(goal)
        %td= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' }
     
%br

= link_to 'New goal', new_goal_path, class: 'btn btn-primary'

:javascript
  $(document).ready(function() {
    let goal = { 
      own: $('#goal_user_id').val(),
      team: null
    };
    let year = new Date().getFullYear();
    let quaters = [
      { start_date: '01-01-', end_date: '31-03-' },
      { start_date: '01-04-', end_date: '30-06-' },
      { start_date: '01-07-', end_date: '30-09-' },
      { start_date: '01-10-', end_date: '31-12-' }
    ];

    //$('#goal_year').children("option:selected").val(year);

    $(document).on('click', 'input[type=radio]', function() {

      let selected = $('input[name="goal[personal_or_team]"]:checked').val();

      if(selected == 'own') {
        $('#goal_team_member').prop('disabled', 'disabled');
      } else {
        $('#goal_team_member').prop('disabled', '');
      }
    });

    $(document).on('change', 'select#goal_team_member', function() {
      goal.team = $(this).children('option:selected').val();

      $('#goal_user_id').val(goal.team);
    });

    $(document).on('change', 'select#goal_year', function() {
      year = $(this).children("option:selected").val();

      let start_date = $('#goal_start_date').val();
      let end_date = $('#goal_end_date').val();

      if(start_date != '') {
        let tokens = start_date.split('-');
        $('#goal_start_date').val(tokens[0] + '-' + tokens[1] + '-' + year);
      }

      if(end_date != '') {
        let tokens = end_date.split('-');
        $('#goal_end_date').val(tokens[0] + '-' + tokens[1] + '-' + year);
      }
    });

    $(document).on('change', 'select#goal_time_period', function() {
      let selectedQuater = $(this).children("option:selected").val();

      $('#goal_start_date').val(quaters[selectedQuater].start_date + year);
      $('#goal_end_date').val(quaters[selectedQuater].end_date + year);
    });

  });