%h1 Listing goals

%table.table
  %thead
    %tr
      %th Title
      %th Description
      %th Point
      %th % completed
      %th Achived point
      %th Deliverable link
      %th Comments
      %th Start date
      %th End date
      %th Status
      %th
      %th
      %th

  %tbody
    - @goals.each do |goal|
      %tr
        %td= goal.title
        %td= goal.description
        %td= goal.point
        %td= goal.percent_completed
        %td= goal.achived_point
        %td= goal.deliverable_link
        %td= goal.comments
        %td= goal.start_date
        %td= goal.end_date
        %td= goal.status
        %td= link_to 'Show', goal
        %td= link_to 'Edit', edit_goal_path(goal)
        %td= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' }
     
%br

= link_to 'New Goal', new_goal_path
