%h1 Team members goal review
%hr

- team_member   = params[:commit] == 'Search' ? params[:goal][:team_member] : ''
- year          = params[:commit] == 'Search' ? params[:goal][:year] : ''
- time_period   = params[:commit] == 'Search' ? params[:goal][:time_period] : ''
- start_date    = params[:commit] == 'Search' ? params[:goal][:start_date] : ''
- end_date      = params[:commit] == 'Search' ? params[:goal][:end_date] : ''

= form_for(:goal, url: review_goals_path, method: :get, html: { class: '', 'data-controller' => 'goalreview' }) do |f|
  .row
    .col-md-2
      .form-group
        = f.label 'Team member'
        = f.select :team_member, options_for_select(@team.map{ |u| [u.name, u.id] }, team_member), { include_blank: 'select' }, class: 'form-select'
        = f.hidden_field :user_id, value: params[:goal].blank? ? '' : params[:goal][:user_id]
    .col-md-2
      .form-group
        - c_y = Time.now.year
        - s_y = c_y - 10
        = f.label 'Year'
        = f.select :year, options_for_select((s_y..c_y).to_a.map{ |y| [y, y] }.reverse, year), { include_blank: 'select' }, class: 'form-select'
    .col-md-2
      .form-group
        = f.label 'Quarter'
        = f.select :time_period, options_for_select([['Q-1', '0'], ['Q-2', '1'], ['Q-3', '2'], ['Q-4', '3']], time_period), { include_blank: 'select'}, class: 'form-select'
    .col-md-2
      .form-group
        = f.label :start_date
        = f.text_field :start_date, value: start_date, class: 'form-control'
    .col-md-2
      .form-group
        = f.label :end_date
        = f.text_field :end_date, value: end_date, class: 'form-control'
    .col-md-2.form-group
      %br
      = f.submit 'Search', class: 'btn btn-info btn-block'


- @goals.each do |goal|
  %hr
  = form_for(:goal, url: goal_path(goal), method: :put, html: { class: 'review-confirmation', id: "goal-id-#{goal.id}" }) do |f|
    .row.mb-3
      .col-md-12.alert.alert-success#review-success{ style: 'display: none' }
    .row.mb-3
      .col-md-6
        %label Team member: 
        = goal.user.name
    .row.mb-3
      .col-md-6
        %label Start date
        %br
        = goal.start_date.strftime('%d-%m-%Y')
      .col-md-6
        %label End date
        %br
        = goal.end_date.strftime('%d-%m-%Y')
    .row.mb-3
      .col-md-6
        %label Title
        %br
        = goal.title
      .col-md-6
        %label Point
        %br
        = f.text_field :point, value: goal.point, class: 'form-control', disabled: :disabled
    .row.mb-3
      .col-md-6
        %label Description
        %br
        = goal.description
      .col-md-6
        %label Percent completed
        = f.text_field :percent_completed, value: goal.percent_completed, class: 'form-control', disabled: goal.status.eql?(2)
    .row.mb-3
      .col-md-6
        %label Comment
        = f.text_area :comments, value: goal.comments, class: 'form-control', disabled: goal.status.eql?(2)
      .col-md-6
        %label Achieved point
        = f.text_field :point_achieved, value: goal.achived_point, class: 'form-control', disabled: :disabled
        = f.hidden_field :achived_point, value: goal.achived_point
    .row.mb-3
      .col-md-12
        %br
        = f.hidden_field :status, value: 2
        = f.submit 'Save', class: 'btn btn-primary', disabled: goal.status.eql?(2)
