
%table.table
  %thead
    %th{ width: '25%' } Property
    %th{ width: '75%' } Value
  %tbody
    %tr
      %td Title
      %td= @goal.title
    %tr
      %td Description
      %td= @goal.description
    %tr
      %td Point
      %td= @goal.point
    %tr
      %td Percent completed:
      %td= @goal.percent_completed
    %tr
      %td Achived point
      %td= @goal.achived_point
    %tr
      %td Deliverable link
      %td= @goal.deliverable_link
    %tr
      %td Comments
      %td= @goal.comments
    %tr
      %td Start date
      %td= @goal.start_date
    %tr
      %td End date
      %td= @goal.end_date
    %tr
      %td Status
      %td= @goal.status
    
= link_to 'Edit', edit_goal_path(@goal)
= link_to 'Back', goals_path
