%h2 Add new promotion to 
%hr

= form_for(@promotion, url: employee_promotions_path(params[:employee_id])) do |f|
  = render 'shared/error_messages', target: @promotion
  .row
    = f.hidden_field :user_id, value: params[:employee_id]
  .row
    .col-md-3
      = f.label :designation
    .col-md-9
      = f.select :designation, Designation.published.map{ |d| [d.title, d.title] }, { include_blank: true }, class: 'form-control'
  .row
    .col-md-3
      = f.label :start_date
    .col-md-9
      = f.text_field :start_date, class: 'form-control', placeholder: 'example- YYYY-MM-DD'
  .row
    .col-md-3
      = ""
    .col-md-9
      = f.submit class: 'btn btn-primary'
