- if @todays_tracker.present?
  %h3
    Daily Time Tracker
    %br
    %input#datepicker{:placeholder => "Search By Date", :type => "text", :value => @date, :readonly => true }/
    .pull-right#total-employee
      Total Present in Office:
      = @todays_tracker.size
  .bs-example
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th Name
          %th Email
          %th Entry
          %th Leave
          %th Status
      %tbody
        - @todays_tracker.each do |entry|
          %tr
            %td= entry.user.name
            %td= entry.user.email
            %td= Time.at(entry.in_time).utc.strftime("%I:%M%p")
            %td= Time.at(entry.out_time).utc.strftime("%I:%M%p") if entry.out_time.present?
            %td
              - if entry.is_first_entry?
                - if Time.at(entry.in_time).strftime("%H:%M") <= Time.at(Time.parse(Attendance::USUAL_OFFICE_TIME)).strftime("%H:%M")
                  .status#inTime
                    On time
                - else
                  .status#late
                    Late
              - else
                .status#secondEntry
                  = link_to "Multi/ Entry",  multi_entry_list_attendance_path(id: entry.user.id), remote: true,:style => "color:orange"


    #multi_entry_modal
