%p
  
%br
  = link_to  'In', "/attendances", :method => :post, :class => 'btn btn-large btn-success in-out-button', :id => "in"
  = link_to 'Out', "/attendances/#{@todays_entry.id if @todays_entry.present?}", :method => :put, :class => 'btn btn-large btn-danger in-out-button', :id => "out"

  %span.pull-right
    = link_to "#{Service::OTHERS[:tp][:name]}", "#{Service::OTHERS[:tp][:url]}", target: "_blank"
    |
    = link_to "#{Service::OTHERS[:kb][:name]}", "#{Service::OTHERS[:kb][:url]}", target: "_blank"
    |
    = link_to "#{Service::OTHERS[:fs][:name]}", "#{Service::OTHERS[:fs][:url]}", target: "_blank"