%p
  
%br
  = link_to  'In', "/attendances", :method => :post, :class => 'btn btn-large btn-success in-out-button', :id => "in"
  = link_to 'Out', "/attendances/#{@out_link}", :method => :put, :class => 'btn btn-large btn-danger in-out-button', :id => "out"

  %span.pull-right
    = link_to "#{Service::INTERNAL['team_planner']['name']}", "#{Service::INTERNAL['team_planner']['url']}", target: "_blank"
    |
    = link_to "#{Service::INTERNAL['knowledge_base']['name']}", "#{Service::INTERNAL['knowledge_base']['url']}", target: "_blank"
    |
    = link_to "#{Service::INTERNAL['file_server']['name']}", "#{Service::INTERNAL['file_server']['url']}", target: "_blank"