%h3
  Monthly Time Tracker
.bs-example
  %table.table.table-hover.table-bordered#monthly-attendance-table
    %thead
      %tr
        %th{:rowspan => "2"} Name
        %th{:colspan => "3"}= Time.now.strftime("%B")
        %th{:colspan => "3"}=  1.month.ago.strftime("%B")
      %tr
        %th Total Hours
        %th Avg. Hours
        %th Avg. InTime
        %th Total Hours
        %th Avg. Hours
        %th Avg. InTime
    %tbody
      - User.all.active.each do |user|
        %tr
          %td
            %a{"data-toggle" => "modal", :href => "#userModal_#{user.id}"}= user.name
            - if current_user.is_admin?
              .pull-right
                = link_to image_tag('hide.png'), attendance_hide_name_path(:attendance_id => user.id), :remote => true, :title => 'Hide Name'
          %td= user.monthly_total_hour(Time.now.month).round
          %td= user.monthly_average_hour(Time.now.month).present? ? user.monthly_average_hour(Time.now.month).round(1) : 0
          %td= user.monthly_average_in_time(Time.now.month).present? ? user.monthly_average_in_time(Time.now.month) : 0
          %td= user.monthly_total_hour(1.month.ago.month, 1.month.ago.year).round
          %td= user.monthly_average_hour(1.month.ago.month, 1.month.ago.year).present? ? user.monthly_average_hour(1.month.ago.month, 1.month.ago.year).round(1) : 0
          %td= user.monthly_average_in_time(1.month.ago.month, 1.month.ago.year).present? ? user.monthly_average_in_time(1.month.ago.month, 1.month.ago.year) : 0
  - if current_user.is_admin?
    = link_to 'Show Hidden Names', show_hidden_names_attendances_path
- User.all.each do |user|
  .modal.fade{:id => "userModal_#{user.id}"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title= "#{user.name}'s Attendance Summary of #{Time.now.strftime("%B")}"
        .modal-body
          .bs-example
            %table.table.table-hover.table-bordered#individual-attendance-table
              %thead
                %tr
                  %th Count
                  %th Date
                  %th InTime
                  %th OutTime
                  %th Total Hours
                  %th Status
              %tbody
                - user.attendances.by_month(Time.now.month).each_with_index do |entry, index|
                  %tr
                    %td= index + 1
                    %td= entry.datetoday
                    %td= Time.at(entry.in_time).utc.strftime("%I:%M%p")
                    %td= Time.at(entry.out_time).utc.strftime("%I:%M%p") if entry.out_time.present?
                    %td= entry.total_hours
                    %td
                      - if entry.first_entry?
                        - if Time.at(entry.in_time).strftime("%H:%M") <= Time.at(Time.parse(Attendance::USUAL_OFFICE_TIME)).strftime("%H:%M")
                          .status#inTime
                            On time
                        - else
                          .status#late
                            Late
                      - else
                        .status#secondEntry
                          F/ Entry
        .modal-footer
          %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
