%h3
  Monthly Time Tracker
.bs-example
  %table.table.table-hover.table-bordered#monthly-attendance-table
    %thead
      %tr
        %th{:rowspan => "2"} Name
        %th{:colspan => "3"}= Time.now.strftime("%B")
        %th{:colspan => "3"}=  1.month.ago.strftime("%B")
      %tr
        %th Total Hours
        %th Avg. Hours
        %th Avg. InTime
        %th Total Hours
        %th Avg. Hours
        %th Avg. InTime
    %tbody
      - User.all.active.each do |user|
        %tr
          %td
            %a.attendance-summary{:data => {:user_id => "#{user.id}",
              :month => "#{Time.now.month}", :year => "#{Time.now.year}"}}
              =user.name
            - if current_user.is_admin?
              .pull-right
                = link_to image_tag('hide.png'), hide_name_attendance_path(:id => user.id), :remote => true, :title => 'Hide Name'
          %td= user.monthly_total_hour(Time.now.month).round
          %td= user.monthly_average_hour(Time.now.month).present? ? user.monthly_average_hour(Time.now.month).round(1) : 0
          %td= user.monthly_average_in_time(Time.now.month).present? ? user.monthly_average_in_time(Time.now.month) : 0
          %td= user.monthly_total_hour(1.month.ago.month, 1.month.ago.year).round
          %td= user.monthly_average_hour(1.month.ago.month, 1.month.ago.year).present? ? user.monthly_average_hour(1.month.ago.month, 1.month.ago.year).round(1) : 0
          %td= user.monthly_average_in_time(1.month.ago.month, 1.month.ago.year).present? ? user.monthly_average_in_time(1.month.ago.month, 1.month.ago.year) : 0
  - if current_user.is_admin?
    = link_to 'Show Hidden Names', show_hidden_names_attendances_path

:javascript
  $(document).on('click', '.attendance-summary', function(){
    var user_time = $(this).data();
    var data = {
      'user_time': {
        'user_id': user_time.userId,
        'month': user_time.month,
        'year': user_time.year
       }
    };
    $.ajax({
      url: "/attendances/show_attendance_summary",
      type: "GET",
      data:  data,
      beforeSend: function() {
        $("#loading-image").show();
      },
      success: function(msg) {
        $("#loading-image").hide();
      }
    });
  })
