
-##multi_entry.modal.fade{:role => "dialog"}
-#  .modal-dialog
-#    .modal-content
-#      .modal-header
-#        %button.close{"data-dismiss" => "modal", :type => "button"} ×
-#        %h4.modal-title Modal Header
-#      .modal-body
-#        - if !multi_entries.nil?
-#          - multi_entries.each do |entry|
-#            = Time.at(entry.in_time).utc.strftime("%I:%M%p")
-#            =entry.user.name
-#
-#      .modal-footer
-#        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close


#multi_entry.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title
          = multi_entries[0].user.name.to_s + "'s todays multiple entries "
      .modal-body
        .bs-example
          %table.table.table-hover.table-bordered#individual-attendance-table
            %thead
              %tr
                %th Count
                %th Date
                %th InTime
                %th OutTime
                %th Total hours
                %th Status
            %tbody
              - multi_entries.each_with_index do |entry, index|
                %tr
                  %td= index + 1
                  %td= entry.checkin_date
                  %td= Time.at(entry.in_time).utc.strftime("%I:%M%p")
                  %td= Time.at(entry.out_time).utc.strftime("%I:%M%p") if entry.out_time.present?
                  %td= entry.total_hours
                  %td
                    - if Time.at(entry.in_time).strftime("%H:%M") <= Time.at(Time.parse(Attendance::USUAL_OFFICE_TIME)).strftime("%H:%M")
                      .status#inTime
                        On time
                    - else
                      .status#late
                        Late
      .modal-footer
        %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Close