= hidden_field_tag :salat, @salaat.to_json
.panel-footer.text-center
  %p
    = link_to "Salaat Time", '#salaat', "data-toggle" => "modal"
    |
    = link_to "Terms & Conditions", "#rules", "data-toggle" => "modal"
    - if current_user.present? && current_user.is_admin?
      |
      = link_to "Raw Attendance Data", raw_attendance_data_attendances_path(:format => :xls), target: "_blank"
      |
      = link_to "Six Month's Data", six_months_data_attendances_path(:format => :xls), target: "_blank"
.modal.fade#rules
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Attendance Rules
      .modal-body
        %ol
          %li Office starts at 9 AM. Any entry after 10 AM will be treated as late entry.
          %li Multiple In-Out can be tracked in the same day.
          %li If anyone logs 'In', but forgets to log 'Out', two hours will be added as total hours in office on that day.
          %li If anyone leaves office within office time, s/he has to log 'Out'. After coming back from outside s/he may log 'In' again.
          %li After one successful 'In' and 'Out' in a day, if someone logs 'In' and forgets to log 'Out', no extra hours will be added.
      .modal-footer
        %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
.modal.fade#salaat
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Please Keep The Time Tracker Tab Open To Get Desktop Reminder For Namaz During Office.
      .modal-body
        .bs-example
          %table.table.table-hover.table-bordered#salaat-table
            %thead
              %tr
                %th Waqt
                %th Time
            %tbody
              - Salaat.all.each do |salaat|
                %tr
                  %td= salaat.waqt
                  %td{:class => "edit-salaat-time", :id => "#{salaat.id}", :contenteditable => "#{current_user.present? && current_user.is_admin? ? true : false}"}= salaat.time.strftime("%I:%M")

              -#= button_to 'Save Changes', '#', :id => 'save', :class => 'btn-large btn-primary pull-right'
      .modal-footer
        - if current_user.present? && current_user.is_admin?
          %button.btn.btn-primary{:id => 'save', "data-dismiss" => "modal"} Save Changes
        %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Close

.modal.fade#raw-data
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Raw Attendance Data
      .modal-body
        .bs-example
          %table.table.table-hover.table-bordered#raw-data-table
            %thead
              %tr
                %th User
                %th Date
                %th  In
                %th  Out
            %tbody
              - if @raw_data.present?
                - @raw_data.each do |data|
                  %tr
                    %td= data.user.email if data.user.present?
                    %td= data.datetoday
                    %td= Time.at(data.in).utc.strftime("%I:%M%p")
                    %td= Time.at(data.out).utc.strftime("%I:%M%p") if data.out.present?
      .modal-footer
        %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Close
