.modal{:id => "userModal"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title= "Attendance Summary of #{@user.name}: #{get_month_name(@selected[:month])}, #{@selected[:year]}"
      .modal-body
        .panel.panel-default
          .panel-heading
            %span Filter
            = select_tag :month,
                          options_for_select(get_formatted_months, @selected[:month]),
                          :class => 'btn btn-default btn-sm',
                          :id => 'summary-month',
                          :prompt => '- Select -'
            = select_tag :year,
                          options_for_select(get_years, @selected[:year]),
                          :class => 'btn btn-default btn-sm',
                          :id => 'summary-year',
                          :prompt => '- Select -'
            %button.btn.btn-default.btn-sm.attendance-summary-form-submit{:data => {:user_id => "#{@user.id}"}} Submit
            = image_tag 'ajax-loader.gif', id: 'modal-loading-image'

          %table.table.table-hover.table-bordered
            %thead
              %tr
                %th{:width => '10%'} #
                %th{:width => '20%'} Date
                %th{:width => '15%'} In time
                %th{:width => '15%'} Out time
                %th{:width => '20%'} Total hours
                %th{:width => '20%'} Status
            %tbody
              - @attendances.each_with_index do |entry, index|
                %tr
                  %td= index + 1
                  %td= entry.checkin_date
                  %td= Time.at(entry.in_time).utc.strftime("%I:%M%p")
                  %td= Time.at(entry.out_time).utc.strftime("%I:%M%p") if entry.out_time.present?
                  %td= entry.total_hours
                  %td
                    - if entry.is_first_entry?
                      - if Time.at(entry.in_time).strftime("%H:%M") <= Time.at(Time.parse(Attendance::USUAL_OFFICE_TIME)).strftime("%H:%M")
                        .status#inTime
                          On time
                      - else
                        .status#late
                          Late
                    - else
                      .status#secondEntry
                        Multiple Entry
      .modal-footer
        %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Close

:javascript
  $(document).on('click', '.attendance-summary-form-submit', function(){
    var user_id = $(this).data().userId;
    var data = {
      'user_time': {
        'user_id': user_id,
        'month': $('#summary-month').val(),
        'year': $('#summary-year').val()
       }
    };
    console.log(data);
    $.ajax({
      url: "/attendances/show_attendance_summary",
      type: "GET",
      data:  data,
      beforeSend: function() {
        $("#modal-loading-image").show();
      },
      success: function(msg) {
        $("#modal-loading-image").hide();
      }
    });
  })
