.modal{:id => "userModal"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title= "Attendance Summary of #{@user.name},  #{Time.now.strftime("%B")}, #{Time.now.strftime("%Y")}"
        = select_tag :month, options_for_select(Attendance::MONTH_LIST.collect { |m| [m.last, m.first]}),
          :class => 'btn btn-default btn-sm', :id => 'summary-month', :prompt => 'Select Month'
        = select_tag :year, options_for_select(CONFIG['year_range']['start'] .. CONFIG['year_range']['end']),
          :class => 'btn btn-default btn-sm', :id => 'summary-year', :prompt => 'Select Year'
        %button.btn.btn-success.btn-sm.attendance-summary-form-submit{:data => {:user_id => "#{@user.id}"}} Show
        = image_tag 'ajax-loader.gif', id: 'modal-loading-image'
      .modal-body
        .bs-example
          %table.table.table-hover.table-bordered#individual-attendance-table
            %thead
              %tr
                %th Count
                %th Date
                %th InTime
                %th OutTime
                %th Total Hours
                %th Status
            %tbody
              - @attendances.each_with_index do |entry, index|
                %tr
                  %td= index + 1
                  %td= entry.checkin_date
                  %td= Time.at(entry.in_time).utc.strftime("%I:%M%p")
                  %td= Time.at(entry.out_time).utc.strftime("%I:%M%p") if entry.out_time.present?
                  %td= entry.total_hours
                  %td
                    - if entry.is_first_entry?
                      - if Time.at(entry.in_time).strftime("%H:%M") <= Time.at(Time.parse(Attendance::USUAL_OFFICE_TIME)).strftime("%H:%M")
                        .status#inTime
                          On time
                      - else
                        .status#late
                          Late
                    - else
                      .status#secondEntry
                        Multiple Entry
      .modal-footer
        %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Close

:javascript
  $(document).on('click', '.attendance-summary-form-submit', function(){
    var user_id = $(this).data().userId;
    var data = {
      'user_time': {
        'user_id': user_id,
        'month': $('#summary-month').val(),
        'year': $('#summary-year').val()
       }
    };
    console.log(data);
    $.ajax({
      url: "/attendances/show_attendance_summary",
      type: "GET",
      data:  data,
      beforeSend: function() {
        $("#modal-loading-image").show();
      },
      success: function(msg) {
        $("#modal-loading-image").hide();
      }
    });
  })
