.row
  .col-sm-12
    %h1.page-header
      = "Daily time tracker of #{@attendance.user.name}"
    %hr

  .col-sm-12
    .card
      .card-header
        .row
          .col-sm-6.text-start
            %b= get_humanize_date(Date.today)
          .col.sm-6.text-end
            %b= "Total entries: #{1 + @attendance.children.size}"
    
      %table.table.table-bordered.table-hover
        %thead
          %tr
            %th Check in time
            %th Check out time
            %th Hours
        %tbody
          %tr
            %td= get_formatted_time(@attendance.in_time)
            %td= get_formatted_time(@attendance.out_time)
            %td= get_attendance_total_hour(@attendance)
          - @attendance.children.each do |attendance|
            %tr
              %td= get_formatted_time(attendance.in_time)
              %td= get_formatted_time(attendance.out_time)
              %td= get_attendance_total_hour(attendance)
          %tr
            %td &nbsp;
            %td
              %b Total
            %td
              %b= get_daily_total_hours(@attendance)

= link_to 'Back', root_path
