%p#notice= notice
%p
  %strong User:
  = @attendance.user_id
%p
  %strong Date today:
  = @attendance.datetoday
%p
  %strong In time:
  = @attendance.in_time
%p
  %strong Out time:
  = @attendance.out_time
= link_to 'Edit', edit_attendance_path(@attendance)
|
\#{link_to 'Back', attendances_path}
