%p#notice= notice
%p
  %strong User:
  = @attendance.user_id
%p
  %strong Checkin date:
  = @attendance.checkin_date
%p
  %strong In time:
  = @attendance.intime
%p
  %strong Out time:
  = @attendance.outtime
= link_to 'Edit', edit_attendance_path(@attendance)
|
\#{link_to 'Back', attendances_path}
