.panel.panel-default
  .panel-heading
    %h3
      = heading
  = form_for @weekend do |f|
    .panel-body
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      = label_tag 'Select Day(s)'
      .checkbox
        = f.collection_check_boxes :off_days, f.object.class.off_day_options, :first, :last,
          item_wrapper_class: 'inline'

    .panel-footer
      = f.submit action_name, class: 'btn btn-primary'
