.card
  .card-header
    %h3
      = heading

  .card-body
    = form_for @weekend do |f|
      = render 'shared/error_messages', target: @weekend

      .row.mb-3
        %label.col-sm-2.col-form-label Name
        .col-sm-10
          = f.text_field :name, class: 'form-control'
      .row.mb-3
        %label.col-sm-2.col-form-label Select days
        .col-sm-10
          = f.collection_check_boxes(:off_days, f.object.class.off_day_options, :first, :last) do |b|
            .field
              = b.check_box
              = b.label(class: 'mr-2')
      .row.mb-3
        %label.col-sm-2.col-form-label
        .col-sm-10
          = f.submit action_name, class: 'btn btn-primary'
