.panel.panel-default
  .panel-heading
    %h3
      = heading
  = form_for @weekend do |f|
    .panel-body
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
      = label_tag 'Select Day(s)'
      .checkbox
        .field
          = f.check_box :saturday
          = f.label :saturday
        .field
          = f.check_box :sunday
          = f.label :sunday
        .field
          = f.check_box :monday
          = f.label :monday
        .field
          = f.check_box :tuesday
          = f.label :tuesday
        .field
          = f.check_box :wednesday
          = f.label :wednesday
        .field
          = f.check_box :thursday
          = f.label :thursday
        .field
          = f.check_box :friday
          = f.label :friday
    .panel-footer
      = f.submit action_name, class: 'btn btn-primary'