-if flash[:warning].present?
  .alert.alert-danger
    = flash[:warning]
%h2
  %b
    Employee Details
%br
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal', method: :put }) do |f|
  = devise_error_messages!
  %fieldset
    %legend
      Basic
      %span.required-asterisk *
    .form-group
      = f.label :name, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :name, {:class => 'form-control' , :required => true}
    .form-group
      = f.label :date_of_birth, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        = f.text_field :date_of_birth, {:class => 'form-control date-picker' , :required => true}
    .form-group
      = f.label :blood_group, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        = f.select :blood_group, User::BLOOD_GROUPS, {}, {:class => 'form-control' , :required => true}
    .form-group
      = f.label :joining_date, {:class => 'col-sm-2 control-label' }
      .col-sm-10
        = f.text_field :joining_date, {:class => 'form-control date-picker' , :required => true}
  %br
  %fieldset
    %legend
      Contact Information
      %span.required-asterisk *
    .form-group
      = f.label :personal_email, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.email_field :personal_email, {:class => 'form-control' , :required => true}
    .form-group
      = f.label :present_address, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_area :present_address, {:class => 'form-control', :required => true}
    .form-group
      = f.label :mobile_number, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :mobile_number, {:class => 'form-control', :required => true, :pattern => '[0][1][56789][0-9]{8}', :title => 'Enter a valid mobile number!'}
    .form-group
      = f.label :alternate_contact, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :alternate_contact, {:class => 'form-control', :required => false, :pattern => '[0][1][56789][0-9]{8}?', :title => 'Enter a valid mobile number!'}
    .form-group
      = f.label :permanent_address, {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_area :permanent_address, {:class => 'form-control', :required => true}
  %br
  %fieldset
    %legend
      Last Degree
      %span.required-asterisk *
    .form-group
      = f.label :last_degree, 'Name', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :last_degree, {:class => 'form-control', :required => true}
    .form-group
      = f.label :last_university, 'University', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :last_university, {:class => 'form-control', :required => true}
    .form-group
      = f.label :passing_year, 'Year', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :passing_year, {:class => 'form-control', :required => true, :pattern => '[1-2][0-9]{3}', :title => 'Enter a valid year!'}
  %br
  %fieldset
    %legend
      Emergency Contact Person
      %span.required-asterisk *
    .form-group
      = f.label :emergency_contact_person_name, 'Name', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :emergency_contact_person_name, {:class => 'form-control', :required => true}
    .form-group
      = f.label :emergency_contact_person_relation, 'Relation', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :emergency_contact_person_relation, {:class => 'form-control', :required => true}
    .form-group
      = f.label :emergency_contact_person_number, 'Number', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :emergency_contact_person_number, {:class => 'form-control', :required => true, :pattern => '[0][1][56789][0-9]{8}', :title => 'Enter a valid mobile number!'}
  %br
  %fieldset
    %legend DBBL Bank Information (if exists)
    .form-group
      = f.label :bank_account_no, 'Account Number', {:class => 'col-sm-2 control-label'}
      .col-sm-10
        =f.text_field :bank_account_no, {:class => 'form-control'}
  %br
  %fieldset
    %legend Upload Photo and Document
    .form-group
      = f.label :avatar, 'Image' , {:class => 'col-sm-2 control-label'} do
        = 'Image'
        %span.required-asterisk *
      - if f.object.avatar.url.present?
        .col-sm-6
          = f.file_field :avatar, {:class => 'form-control', :required => false}
          %br/
        .col-sm-4
          .img-responsive.profile_image
            = image_tag f.object.avatar.url(:medium)
      - else
        .col-sm-10
          = f.file_field :avatar, {:class => 'form-control', :required => true}
    .form-group
      = f.label :resume, 'CV' , {:class => 'col-sm-2 control-label'} do
        = 'CV'
        %span.required-asterisk *
      .col-sm-10
        = f.file_field :resume, {:class => 'form-control', :required => true}
    .form-group
      = f.label :national_id, 'National ID / Birth Certificate' , {:class => 'col-sm-2 control-label'} do
        = 'National ID / Birth Certificate'
        %span.required-asterisk *
      .col-sm-10
        = f.file_field :national_id, {:class => 'form-control', :required => true}
    .form-group
      = f.label :passport, 'Passport' , {:class => 'col-sm-2 control-label'} do
        = 'Passport'
      .col-sm-10
        = f.file_field :passport, {:class => 'form-control'}

  %br
  .form-group
    .col-sm-2.col-sm-10
      = f.submit 'Submit', :class => 'btn btn-success'
